﻿@using BCRM.BXH.Indo.Models
@model CollaboratorSearchModel
@{
    Layout = null;
    var dateNow = DateTime.Now;
    var dateNextMonth = dateNow.AddMonths(1);
    var firstInMonth = new DateTime(dateNow.Year, dateNow.Month, 1);
    var lastInMonth = (new DateTime(dateNextMonth.Year, dateNextMonth.Month, 1)).AddDays(-1); 
}
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            Collaborators Report
            <small>Analynis info of collaborators</small>
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#">Collaborators report</a>
            </li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cogs"></i>
                Search Box
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body forget-form">
            <form action="#" class="form-horizontal" id="frmSearchCollaborator">
                <input type="text" class="m-wrap" id="txtFilterText" placeholder="Enter fullname or username to search" />
                <select id="selGroup" class="chosen m-wrap">
                    @foreach (var grItem in Model.LstGroup)
                    {
                        <option value="@grItem.Id"> @grItem.Name </option> 
                    }
                </select>
                <select id="selStatus" class="chosen m-wrap">
                    <option value="">--Choose a status--</option> 
                    <option value="0">Deactive </option>
                    <option value="1">Active</option> 
                </select>
                <div id="divStartDate" class="chzn-container chzn-container-single" style="">
                    <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                        <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="@firstInMonth.ToString("dd/MM/yyyy")" placeholder="--Start Date--" id="txtStartDate" tabindex="2" />
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
                <div id="divEndDate" class="chzn-container chzn-container-single" style="">
                    <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                        <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="@lastInMonth.ToString("dd/MM/yyyy")" placeholder="--End Date--" id="txtEndDate" tabindex="3" />
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
                <div class="chzn-container chzn-container-single">
                    <div class="block overflow-hidden">
                        <button id="btnSearch" type="button" class="btn green valign-base" tabindex="10" title="Search Saler">
                            <i class="m-icon-swapright m-icon-white"></i>
                            Search
                        </button>
                        <button id="btnReset" type="button" class="btn green valign-base" tabindex="11" title="Reset search form">
                            <i class="icon-refresh"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row-fluid" id="divSearchSaler">
    <div class="row-fluid" id="wapListSaler">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>Reports
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove" id="lnkRemoveListSaler"></a>
                </div>
            </div>
            <div class="portlet-body forget-form" id="listSaler">
                <div class="clearfix">
                    <div class="btn-group pull-right">

                    </div>
                </div>
                <div class="row-fluid" id="divListSaler"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" lang="ja">
    sysfile.load('/content/assets/scripts/views/collaboratorreport.js', function () {
        collaborator_index.init();
    });
</script>
