﻿@using BCRM.BXH.Indo.Models
@model List<CollaboratorReportModel>
@{
    Layout = null;
    var count = 0;
}
<table class="table table-hover table-striped" width="100%">
    <thead>
        <tr>
            <th class="w20">#</th>
            <th>User name</th>
            <th>Fullname</th>
            <th>Join date</th>
            <th>Status</th>
            <th>Showroom A</th>
            <th>Showroom B</th>
            <th>Showroom C</th>
            <th>Showroom D</th>
            <th>Showroom total </th>
            <th>Listing total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var collaborator in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@collaborator.UserName </td>
                <td>
                    @collaborator.Displayname
                </td>
                <td>
                    @collaborator.CreatedDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @if (collaborator.Status == BCRM.BXH.Indo.Library.UserStatus.Avaiable.GetHashCode())
                    {
                        <span class="label label-success">Actived</span>
                    }
                    else
                    {
                        <span class="label label-important">Deactived</span>
                    }
                </td>
                <td>
                    @collaborator.NumShowRoomA
                </td>
                <td>
                    @collaborator.NumShowRoomB
                </td>
                <td>
                    @collaborator.NumShowRoomC
                </td>
                <td>
                    @collaborator.NumShowRoomD
                </td>
                <td>
                    @collaborator.TotalShowRoom
                </td>
                <td>
                    @collaborator.TotalPosting
                </td>
            </tr>
        }
    </tbody>
</table>