﻿<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            Notices
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i><a href="/">Home</a> <i class="icon-angle-right"></i>
            </li>
            <li><a href="#">Index</a></li>
        </ul>
    </div>
</div>