﻿@using BCRM.BXH.Indo.Entity
@using BCRM.BXH.Indo.Models
@model List<GroupIndexModel>
@{
    Layout = null;
    var count = 0;
    var lstUser = (List<Users>)ViewBag.LstUser;
    var curUser = (UserAuthenticateModel)ViewBag.CurrUser;
}
<div class="row-fluid" name="tmpHeader">
    <h3 class="page-title">
        Group Manager <small>Management,Informations </small>
    </h3>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Groups</a> </li>
    </ul>
</div>
<div class="row-fluid" id="divbodyGroup">
    <div class="row-fluid" id="wapListGroup">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>List of Groups
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove" id="lnkRemoveListGroup"></a>
                </div>
            </div>
            <div class="portlet-body forget-form" id="listGroup">
                <div class="clearfix">
                    <div class="btn-group pull-right">
                        @if (curUser.HasRole(RoleSystem.Admin))
                        {
                            <button type="button" id="btnAddGroup" class="btn blue" href="#divGroupForCreate" data-toggle="modal">
                                <i class="icon-plus"></i>
                                Add new
                            </button>
                        }
                    </div>
                </div>
                <div class="row-fluid" id="divListGroup">
                    <table class="table table-hover table-striped" width="100%">
                        <thead>
                            <tr>
                                <th class="w20">
                                    #
                                </th>
                                <th>
                                    Group name
                                </th>

                                <th>
                                    Leader
                                </th>
                                <th>
                                    Description
                                </th>
                                <th class="w280"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count </td>
                                    <td>@item.Name </td>
                                    <td>@item.LeaderName </td>
                                    <td>@item.Description </td>
                                    <td>
                                        @if (item.IsEditable)
                                        {
                                            <a name="btnEditGroup" href="#divGroupForEdit" class="btn mini blue edit align-left" data-toggle="modal" data-gid="@item.Id">
                                                <i class="icon-edit"></i>
                                                Edit
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hide modal horizontal-form modal-large" id="divGroupForCreate"></div>
<div class="hide modal horizontal-form modal-large" id="divGroupForEdit"></div>
<script type="text/javascript" lang="ja">
    sysfile.load('/content/assets/scripts/views/groups.js', function () {
        var leaderArray = [];
        @foreach (var item in lstUser)
        {
            @:leaderArray.push({ Value: "@(item.Id)", Text: "@(item.UserName)" });
        }
        group_index.init(leaderArray);
    });
</script>

