﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="lblDetailEvent">Add request to retrieve posting</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="control-group">
            <label class="control-label">
                Postings need to retrieve <span class="required">*</span>
            </label>
            <div class="controls">
                <input name="postingnumber" maxlength="200" value="" type="number" class="m-wrap span8" data-trigger="hover" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" name="save" class="btn blue">
        <i class="icon-save"></i> Save
    </button>
    <button type="button" name="close" class="btn blue" data-dismiss="modal" aria-hidden="true" title="Close">
        <i class="icon-remove"></i>Close
    </button>
</div>