﻿@using BCRM.BXH.Indo.Entity
@using BCRM.BXH.Indo.Language
@model List<Group>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="lblDetailEvent">Assign to After-sale assistant</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="control-group">
            <label class="control-label">
                @LanguageRes.Lb_CusAssignTo_Group <span class="required">*</span>
            </label>
            <div class="controls">
                <select name="group" class="m-wrap span10">
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="control-group">
            <label class="control-label">
                @LanguageRes.Lb_CusAssignTo_Saler <span class="required">*</span>
            </label>
            <div class="controls">
                <select name="saler" class="m-wrap span10">
                    <option value="">--Choose a after-sale--</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" name="save" class="btn blue">
        <i class="icon-save"></i> @LanguageRes.Button_Save
    </button>
    <button type="button" name="close" class="btn blue" data-dismiss="modal" aria-hidden="true" title="Close">
        <i class="icon-remove"></i>@LanguageRes.Button_Close
    </button>
    <input type="hidden" name="AssignToTokenEncrypt" value="" />
</div>