﻿@using BCRM.BXH.Indo.Entity
@using BCRM.BXH.Indo.Models
@using BCRM.BXH.Indo.Library
@model Customer
@{
    Layout = null;
    var currentUser = (UserAuthenticateModel)ViewBag.CurrentUser;
    var isManager = currentUser.HasRole(RoleSystem.Admin, RoleSystem.Manager);
    
    var lstCity = (List<City>)ViewBag.ListCity;
    var lstRegion = (List<Region>)ViewBag.ListRegion;
}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-plus"></i>Update Customer
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="remove" id="lnkRemoveCreateCustomer" control-relation='lnkRemoveListCustomer'></a>
        </div>
    </div>
    <div class="portlet-body forget-form">
        <form action="#" id="frmUpdateCustomer" class="form-horizontal">
            <div class="row-fluid">
                <div class="control-group">
                    <label class="control-label" for="txtFullName">
                        FullName <span class="required">*</span>
                    </label>
                    <div class="controls">
                        <input id="txtFullName" maxlength="50" value="@Model.FullName" type="text" class="m-wrap span8" data-trigger="hover" />
                    </div>
                </div>
            </div>      
            <div class="row-fluid">
                <div class="control-group">
                    <label class="control-label" for="txtPhoneNumber">
                        PhoneNumber <span class="required">*</span>
                    </label>
                    <div class="controls input-icon">
                        @Html.TextAreaFor(m => m.PhoneNumber, new { id = "txtPhoneNumberEdit", @class = "m-wrap span12", placeholder = "Phone Number", rows = "2", disabled = "disabled" })
                        <a class=" btn blue" style="margin-top: 5px !important" id="btnEditProfile" href="#divEditProfile" data-toggle="modal"><i class="icon-plus"></i> Add Phonenumber</a>
                    </div>
                </div>
            </div>      
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtEmail">
                            Email <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <div class="input-icon left">
                                <i class="icon-envelope"></i>
                                @*@if(isManager)
                                {
                                    @Html.TextBoxFor(m => m.Email, new { id = "txtEmail", @class = "m-wrap span12", placeholder = "Email Address" })
                                }
                                else
                                {*@
                                    @Html.TextBoxFor(m => m.Email, new { id = "txtEmail", maxlength = "50", @class = "m-wrap span12", placeholder = "Email Address", @readonly = "true" })
                                @*}*@
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlType">
                            Type Of Customer <span class="required">*</span>
                        </label>
                        <div class="controls">
                            @Html.DropDownListFor(m => m.Type, new SelectList(Helper.ListPostingTypeName(), "Key", "Value"), "--Type Of Customer--", new { id = "ddlPostingTypeEdit", @class = "m-wrap span12 chosen" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlRegionEdit">
                            Region <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <select id="ddlRegionEdit" class="city m-wrap span12 chosen" data-placeholder="--Region--" rid="@Model.RegionId">
                                @foreach (var region in lstRegion)
                                {
                                    <option value="@region.Id">@region.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlCityEdit">
                            Provinsi <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <select id="ddlCityEdit" class="m-wrap span12 chosen" data-placeholder="--Province--" cid="@Model.CityId">
                                <option value="">--Provinsi--</option>
                                @foreach (var city in lstCity)
                                {
                                    <option value="@city.Id">@city.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlDistrictEdit">
                            Kota/kab <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <select id="ddlDistrictEdit" class="m-wrap span12 chosen" data-placeholder="--District--" did="@Model.DistrictId">
                                <option value="">--Kota/kab--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtAssignTo">
                            Assign To
                        </label>
                        <div class="controls">
                            <input id="txtAssignTo" type="text" class=" m-wrap popovers span12" value="" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="txtAssignTo">
                            Address <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <input id="txtAddress" maxlength="256" type="text" class=" m-wrap popovers span12" value="@Model.Address" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="txaDescription">
                            Description
                        </label>
                        <div class="controls">
                            @Html.TextAreaFor(m => m.Description, new { id = "txaDescriptionUpdate", @class = "ckeditor m-wrap span12", rows = "6" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="span12">
                    <button type="button" id="btnUpdateCustomer" class="btn blue" title="Lưu các thông tin đã nhập vào hệ thống">
                        <i class="icon-save"></i>
                        Save
                    </button>
                    <button type="button" id="btnCloseInput" class="btn blue" title="Đóng chức năng nhập dữ liệu lại và quay về danh sách khách hàng">
                        <i class="icon-remove"></i>
                        Cancel
                    </button>
                    @Html.HiddenFor(m => m.Id, new { id = "hidCustomerId" })
                    @Html.Hidden("SignatureChecksum", "", new { id = "hiddChecksumCustomerEditId" })
                </div>
            </div>
        </form>
    </div>
</div>
