﻿
@using BCRM.BXH.Indo
@using BCRM.BXH.Indo.Language
@using BCRM.BXH.Indo.Models
@using BCRM.BXH.Indo.Library
@model CustomerIndexModel
@{
    Layout = null;
    var current = (UserAuthenticateModel)ViewBag.CurrentUser;
    var pager = (Pager)ViewBag.Pager;
    pager.ActionScript = "customer_index.search";
    var isPermit = current.HasRole(RoleSystem.Admin, RoleSystem.Manager);
    var isSale = current.HasRole(RoleSystem.Admin, RoleSystem.Manager,RoleSystem.Sale);
    var isAfterSale = current.HasRole(RoleSystem.AfterSale);
    var index = 1;
    var isResetPass = (bool)ViewBag.IsResetPassword;
}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th class="w20">#</th>
            <th class="w400">Customer Info</th>
            <th>Phone Number</th>
            <th>Active/Unactive</th>
            <th class="w200">Posting assistant </th>
            <th class ="w100">Creator </th>
            <th class="w70">Assignee</th>
            <th class="w60"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cust in Model.ListCustomer)
        {
            <tr>
                <td name="wrapIndex">
                    @(index++)
                </td>
                <td id="colCustomerInfo">
                    <a href="#">FullName</a>@(": ")
                    <span class="name">
                        @(string.IsNullOrEmpty(cust.FullName) ? "" : cust.FullName)
                    </span>
                    @if (cust.IsDeleted)
                    {
                        @*<i class="icon-lock" title="Khách hàng này đã bị khóa"></i>*@
                    }
                    @if (cust.IsBlacklist)
                    {
                        <span class="label label-default">Blacklisted</span>
                    }
                    <br />
                    <a href="#">Email</a>@(": ")
                    <span class="name">
                        @(string.IsNullOrEmpty(cust.Email) ? "" : cust.Email)
                    </span>
                    <br />
                    <a href="#">Provinsi</a>@(": ")
                    <span class="name">
                        @(string.IsNullOrEmpty(cust.CityName) ? "" : cust.CityName)
                    </span>
                    <br />
                    <a href="#">Address</a>@(": ")
                    <span class="name">
                        @(string.IsNullOrEmpty(cust.Address) ? "" : cust.Address)
                    </span>
                    <br />
                    <a href="#">Date of creation</a>@(": ")
                    <span class="name">
                        @string.Format("{0:dd/MM/yyyy}", cust.CreatedDate)
                    </span>
                    <br />
                    <a href="#">Posting News</a> @(": ") <span class="modify"> @cust.PostingNumber </span>
                    <br />
                    <a href="#">Last Modified Date</a>@(": ")<span class="modify">@(cust.LastModifiedDate == DateTime.MinValue ? "" : string.Format("{0:dd/MM/yyyy}", cust.LastModifiedDate))</span>
                    <br />
                    <a href="#">Care Date</a>@(": ")<span class="care">@(cust.CareDate == DateTime.MinValue ? "" : string.Format("{0:dd/MM/yyyy}", cust.CareDate))</span>
                    <br />
                    <a href="#">Type Of Customer</a>@(": ")<span class="label type">@((cust.PostingType).ToPostingTypeName())</span>
                </td>
                <td id="colPhoneNumber" name="container_phone_number">
                    @cust.PhoneNumber.WrapPhoneNumber()
                </td>
                <td>
                    @if (cust.IsActive)
                    {
                        <span class="label label-success">Active</span>
                    }
                    else
                    {
                        <span class="label label-default">Unactive</span>
                    }
                </td>
                <td>
                    <a name="lnkUserInfo" href="#divSaleInfo" data-toggle="modal">@(string.IsNullOrEmpty(cust.PostingAssistant) ? "" : cust.PostingAssistant)</a>
                </td>
                <td style="text-align:left;">
                    <a name="lnkUserInfo" href="#divSaleInfo" data-toggle="modal">@cust.CreatedBy</a>
                </td>
                <td id="colAssignTo">
                    <a name="lnkUserInfo" href="#divSaleInfo" data-toggle="modal">@cust.AssignTo</a>
                </td>
                <td class="action">                        
                    <div class="btn-group none-bottom">
                        <button class="btn w80 blue mini dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cog"></i>
                            Manager
                            <i class="icon-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" extfor="@cust.AssignTo" style="z-index:9999;">
                            @if (cust.IsEditable(isPermit, current.UserName))
                            {
                                <li>
                                    <a class="edit" cid="@cust.Id" title="Edit File Customer">
                                        <i class="icon-edit"></i>
                                        @(LanguageRes.Act_CusSearch_Edit)
                                    </a>
                                </li>
                            }
                            @*@if (cust.IsBlockable(isPermit))
                            {
                                <li>
                                    <a class="lock" cid="@cust.Id" title="Block File Customer">
                                        <i class="icon-lock"></i>
                                        @(LanguageRes.Act_CusSearch_Block)
                                    </a>
                                </li>
                            }
                            @if (cust.IsUnblockable(isPermit))
                            {
                                <li>
                                    <a class="unlock" cid="@cust.Id" title="Unblock File Customer">
                                        <i class="icon-unlock"></i>
                                        @(LanguageRes.Act_CusSearch_UnBlock)
                                    </a>
                                </li>
                            }*@
                            @if (cust.IsAssigningToSaler(isPermit))
                            {
                                <li>
                                    <a class="assignto" href="#wrapAssignTo" data-toggle="modal" cid="@cust.Id" title="Assign to another saler">
                                        <i class="icon-user"></i>
                                        @(LanguageRes.Act_CusSearch_AssignTo)
                                    </a>
                                </li>
                            }
                            @if (cust.IsBlacklisted(isPermit))
                            {
                                <li>
                                    <a class="blacklist" cid="@cust.Id" title="Blacklisting this customer">
                                        <i class="icon-book"></i>
                                        @(LanguageRes.Act_CusSearch_Blacklisting)
                                    </a>
                                </li>

                            }
                            @if (cust.IsUnblacklisted(isPermit))
                            {
                                <li>
                                    <a class="unblacklist" cid="@cust.Id" title="UnBlacklisting this customer">
                                        <i class="icon-book"></i>
                                        @(LanguageRes.Act_CusSearch_Unblacklisting)
                                    </a>
                                </li>
                            }
                            @if (cust.IsNoted(isPermit, current.UserName))
                            {
                                <li>
                                    <a class="note" cid="@cust.Id" href="#wrapNote" data-toggle="modal" title="note">
                                        <i class="icon-edit"></i>
                                        @(LanguageRes.Act_CusSearch_Note)
                                    </a>
                                </li>
                            }
                            @if (cust.IsViewDetail())
                            {
                                <li>
                                    <a class="detail" cid="@cust.Id" title="customer detail">
                                        <i class="icon-book"></i>
                                        @(LanguageRes.Act_CusSearch_Detail)
                                    </a>
                                </li>
                            }
                            @if (cust.IsReceived())
                            {
                                <li>
                                    <a class="receive" cid="@cust.Id" title="customer detail">
                                        <i class="icon-hand-right"></i>
                                        @(LanguageRes.Act_CusSearch_Receiving)
                                    </a>
                                </li>
                            }
                            @if (cust.IsReceivedToGetListings(isAfterSale))
                            {
                                <li>
                                    <a class="asareceivegetposting" cid="@cust.Id" title="ASA get customer to get postings">
                                        <i class="icon-hand-right"></i>
                                        Receive to get postings
                                    </a>
                                </li>
                            }
                            @if (cust.IsAssigningToSaler(isPermit))
                            {
                                <li>
                                    <a class="assigntoasa" href="#wrapAssignToASA" data-toggle="modal" cid="@cust.Id" title="assigning to after sale">
                                        <i class="icon-user"></i>
                                        Assign to after-saler
                                    </a>
                                </li>
                            }
                            @if (cust.IsEditablePhone(isPermit))
                            {
                                <li>
                                    <a class="phonenumber" cid="@cust.Id" href="#divListProfile" data-toggle="modal" title="Manager PhoneNumber">
                                        <i class="icon-reorder"></i>
                                        Manage PhoneNumber
                                    </a>
                                </li>
                            }
                            @if (isResetPass)
                            {
                                <li>
                                    <a class="resetpass" cid="@cust.Id" title="Reset password">
                                        <i class="icon-refresh"></i>
                                        Reset password
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </td>               
            </tr>
        }
    </tbody>
</table>
<div class="navbar-fixed-bottom" style="margin-left:20px;margin-right:20px; background-color: white;color: black;border:1px solid #ddd;">
    @Html.Action("Paging", "Common", new { pager = pager })
</div>

