﻿@using BCRM.BXH.Indo.Library
@using BCRM.BXH.Indo.Models
@using BCRM.BXH.Indo.Language

@model CustomerForIndex
@{
    Layout = null;
    var index = (int)ViewBag.Index;
    var current = (UserAuthenticateModel)ViewBag.CurrentUser;
    var isPermit = current.HasRole(RoleSystem.Admin, RoleSystem.Manager);
    var isSale = current.HasRole(RoleSystem.Admin, RoleSystem.Manager, RoleSystem.Sale);
    var isAfterSale = current.HasRole(RoleSystem.AfterSale);
    var isResetPass = (bool)ViewBag.IsResetPassword;
}

<td name="wrapIndex">
    @(index++)
</td>
@if (Model.Id <= 0)
{
    <td id="colCustomerInfo">
        <a href="#">FullName</a>@(": ")
        <span>
            New Customer
        </span>
    </td>
    <td id="colStatus"></td>
    <td id="colPhoneNumber">@Model.PhoneNumber.WrapPhoneNumber()</td>
    <td id="colAssignTo"></td>
    <td class="action">
        <a class="btn mini blue add w60 align-left" title="Add New Customer">
            <i class="icon-plus"></i>
            Add New
        </a>
    </td>
}
else
{
    <td id="colCustomerInfo">
        <a href="#">FullName</a>@(": ")
        <span class="name">
            @(string.IsNullOrEmpty(Model.FullName) ? "" : Model.FullName)
        </span>
        @if (Model.IsDeleted)
        {
            @*<i class="icon-lock" title="Khách hàng này đã bị khóa"></i>*@
        }
        @if (Model.IsBlacklist)
        {
            <span class="label label-default">Blacklisted</span>
        }
        <br />
        <a href="#">Email</a>@(": ")
        <span class="name">
            @(string.IsNullOrEmpty(Model.Email) ? "" : Model.Email)
        </span>
        <br />
        <a href="#">Provinsi</a>@(": ")
        <span class="name">
            @(string.IsNullOrEmpty(Model.CityName) ? "" : Model.CityName)
        </span>
        <br />
        <a href="#">Address</a>@(": ")
        <span class="name">
            @(string.IsNullOrEmpty(Model.Address) ? "" : Model.Address)
        </span>
        <br />
        <a href="#">Date of creation</a>@(": ")
        <span class="name">
            @string.Format("{0:dd/MM/yyyy}", Model.CreatedDate)
        </span>
        @*<a href="#">Creator</a>@(": ")<span class="care">@Model.CreatedBy</span>
        <br />*@
        @*<a href="#">Posting assistant</a>@(": ")
        <span class="name">
            @(string.IsNullOrEmpty(Model.PostingAssistant) ? "" : Model.PostingAssistant)
        </span>*@
        @*<br />
        <a href="#">Posting assistance status</a>@(": ")
        @if (Model.PostingAssistanceStatus == RequestRetrievePostingStatus.Pending.GetHashCode())
        {
            <span class="label label-default">Pending</span>
        }
        else
        {
            <span class="label label-success">Done</span>
        }*@
        <br />
        <a href="#">Posting News</a> @(": ") <span class="modify"> @Model.PostingNumber </span>
        <br />
        <a href="#">Last Modified Date</a>@(": ")<span class="modify">@(Model.LastModifiedDate == DateTime.MinValue ? "" : string.Format("{0:dd/MM/yyyy}", Model.LastModifiedDate))</span>
        <br />
        <a href="#">Care Date</a>@(": ")<span class="care">@(Model.CareDate == DateTime.MinValue ? "" : string.Format("{0:dd/MM/yyyy}", Model.CareDate))</span>
        <br />
        <a href="#">Type Of Customer</a>@(": ")<span class="label type">@((Model.PostingType).ToPostingTypeName())</span>
    </td>
    <td id="colPhoneNumber" name="container_phone_number">
        @Model.PhoneNumber.WrapPhoneNumber()
    </td>
    <td>
        @if (Model.IsActive)
        {
            <span class="label label-success">Active</span>
        }
        else
        {
            <span class="label label-default">Unactive</span>
        }
    </td>
    <td>
        <a name="lnkUserInfo" href="#divSaleInfo" data-toggle="modal">@(string.IsNullOrEmpty(Model.PostingAssistant) ? "" : Model.PostingAssistant)</a>
    </td>
    <td style="text-align:left;">
        <a name="lnkUserInfo" href="#divSaleInfo" data-toggle="modal">@Model.CreatedBy</a>
    </td>
    <td id="colAssignTo">
        <a name="lnkUserInfo" href="#divSaleInfo" data-toggle="modal">@Model.AssignTo</a>
    </td>
    <td class="action">
        <div class="btn-group none-bottom">
            <button class="btn w80 blue mini dropdown-toggle" data-toggle="dropdown">
                <i class="icon-cog"></i>
                Manager
                <i class="icon-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" extfor="@Model.AssignTo">
                @if (Model.IsEditable(isPermit, current.UserName))
                {
                    <li>
                        <a class="edit" cid="@Model.Id" title="Edit File Customer">
                            <i class="icon-edit"></i>
                            @(LanguageRes.Act_CusSearch_Edit)
                        </a>
                    </li>
                }
                @*@if (Model.IsBlockable(isPermit))
                {
                    <li>
                        <a class="lock" cid="@Model.Id" title="Block File Customer">
                            <i class="icon-lock"></i>
                            @(LanguageRes.Act_CusSearch_Block)
                        </a>
                    </li>
                }
                @if (Model.IsUnblockable(isPermit))
                {
                    <li>
                        <a class="unlock" cid="@Model.Id" title="Unblock File Customer">
                            <i class="icon-unlock"></i>
                            @(LanguageRes.Act_CusSearch_UnBlock)
                        </a>
                    </li>
                }*@
                @if (Model.IsAssigningToSaler(isPermit))
                {
                    <li>
                        <a class="assignto" href="#wrapAssignTo" data-toggle="modal" cid="@Model.Id" title="Assign to another saler">
                            <i class="icon-user"></i>
                            @(LanguageRes.Act_CusSearch_AssignTo)
                        </a>
                    </li>
                }
                @if (Model.IsBlacklisted(isPermit))
                {
                    <li>
                        <a class="blacklist" cid="@Model.Id" title="Blacklisting this customer">
                            <i class="icon-book"></i>
                            @(LanguageRes.Act_CusSearch_Blacklisting)
                        </a>
                    </li>

                }
                @if (Model.IsUnblacklisted(isPermit))
                {
                    <li>
                        <a class="unblacklist" cid="@Model.Id" title="UnBlacklisting this customer">
                            <i class="icon-book"></i>
                            @(LanguageRes.Act_CusSearch_Unblacklisting)
                        </a>
                    </li>
                }
                @if (Model.IsNoted(isPermit, current.UserName))
                {
                    <li>
                        <a class="note" cid="@Model.Id" href="#wrapNote" data-toggle="modal" title="note">
                            <i class="icon-edit"></i>
                            @(LanguageRes.Act_CusSearch_Note)
                        </a>
                    </li>
                }
                @if (Model.IsViewDetail())
                {
                    <li>
                        <a class="detail" cid="@Model.Id" title="customer detail">
                            <i class="icon-book"></i>
                            @(LanguageRes.Act_CusSearch_Detail)
                        </a>
                    </li>
                }
                @if (Model.IsReceived())
                {
                    <li>
                        <a class="receive" cid="@Model.Id" title="customer detail">
                            <i class="icon-hand-right"></i>
                            @(LanguageRes.Act_CusSearch_Receiving)
                        </a>
                    </li>
                }
                @if (Model.IsReceivedToGetListings(isAfterSale))
                {
                    <li>
                        <a class="asareceivegetposting" cid="@Model.Id" title="ASA get customer to get postings">
                            <i class="icon-hand-right"></i>
                            Receive to get postings
                        </a>
                    </li>
                }
                @if (Model.IsAssigningToSaler(isPermit))
                {
                    <li>
                        <a class="assigntoasa" href="#wrapAssignToASA" data-toggle="modal" cid="@Model.Id" title="assigning to after sale">
                            <i class="icon-user"></i>
                            Assign to after-saler
                        </a>
                    </li>
                }
                @if (Model.IsEditablePhone(isPermit))
                {
                    <li>
                        <a class="phonenumber" cid="@Model.Id" href="#divListProfile" data-toggle="modal" title="Manager PhoneNumber">
                            <i class="icon-reorder"></i>
                            Manage PhoneNumber
                        </a>
                    </li>
                }
                @if (isResetPass)
                {
                    <li>
                        <a class="resetpass" cid="@Model.Id" title="Reset password">
                            <i class="icon-refresh"></i>
                            Reset password
                        </a>
                    </li>
                }
            </ul>
        </div>
    </td>
}