﻿@using BCRM.BXH.Indo
@using BCRM.BXH.Indo.Models
@using BCRM.BXH.Indo.Entity
@using BCRM.BXH.Indo.Library
@model BCRM.BXH.Indo.Models.CustomerIndexModel
@{
    Layout = null;
    var currUser = (UserAuthenticateModel)ViewBag.CurrentUser;
    var isExportExcelPermission = currUser.HasRole(RoleSystem.Admin.GetHashCode(), RoleSystem.Manager.GetHashCode());
    var isAddCustomer = currUser.HasRole(RoleSystem.Admin.GetHashCode(), RoleSystem.Manager.GetHashCode(), RoleSystem.Sale);
    //currUser.HasRole(RoleSystem.Admin.GetHashCode(), RoleSystem.Manager.GetHashCode(), RoleSystem.Sale);
    List<Users> listUser = ViewBag.ListUser;
}
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            Customer File
            <small>Customer Manager</small>
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#">Customer File</a>
            </li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cogs"></i>
                Search Box
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body forget-form">
            <form action="/Customer/ExportExcel" method="post" class="form-horizontal" id="frmSearchCustomer">
                <div class="row-fluid">
                    <div class="span3">
                        @Html.TextAreaFor(m => m.FilterKeyword, new { @class = "span12 m-wrap h110 mgb4", id = "txtFilterKeyword", placeholder = "--Keyword--", tabindex = "1", rows = "1" })
                    </div>
                    <div class="span9">
                        @Html.DropDownListFor(m => m.AssignTo, new SelectList(Model.LstUser, "Key", "Value", ViewBag.AssignTo), new { id = "selAssignTo", @class = "chosen span3", dataplaceholder = "--Assignee--", tabindex = 2 })
                        <select id="selCity" name="CityId" class="span3 chosen" data-placeholder="--City--" cid="@Model.CityId" tabindex="3">
                            <option value="">--Provinsi--</option>
                            @foreach (var city in Model.ListCity)
                            {
                                <option value="@city.Id">@city.Name</option>
                            }
                        </select>
                        <select id="selDistrict" name="DistrictId" class="span3 chosen" data-placeholder="--District--" did="@Model.DistrictId" tabindex="4">
                            <option value="">--Kota/kab--</option>
                        </select>
                        @Html.DropDownListFor(m => m.Type, new SelectList(Helper.ListPostingTypeWithPostingName(), "Key", "Value"), "--Type Of Customer--", new { id = "selCustomerType", @class = "span3 chosen", dataplaceholder = "--Type Of Customer--", name = "Type", tabindex = "5" })
                        
                        @if(isExportExcelPermission)
                        {
                            @Html.DropDownListFor(m => m.Sort, new SelectList(new[] {   new SelectListItem { Text = "--Account status--", Value = "-1" },
                                                                                    new SelectListItem { Text = "Unblacklisted", Value = "0" },
                                                                                    new SelectListItem { Text = "Blacklisted", Value = "1" }}
                                                                                    , "Value", "Text"), new { id = "selSort", @class = "span3 chosen", tabindex = "6" })

                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.Sort, new SelectList(new[] { new SelectListItem { Text = "Unblacklisted", Value = "0" } }
                                                                                    , "Value", "Text"), new { id = "selSort", @class = "span3 chosen",@readonly="true", tabindex = "6" })
                        }
                        
                        @Html.DropDownListFor(m => m.Creator, new SelectList(Model.LstCreator, "Key", "Value"), new { id = "selCreator", @class = "chosen span3", dataplaceholder = "--Creator--", tabindex = 7 })
                        
                        @if(Model.LstAftersale.Count >1)
                        {
                            @Html.DropDownListFor(m => m.PostingAssistant, new SelectList(Model.LstAftersale, "Key", "Value")
                                                                     , new { id = "selAftersale"
                                                                     , @class = "chosen span3"
                                                                     , dataplaceholder = "--Aftersale--"
                                                                     , tabindex = 8 })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.PostingAssistant, new SelectList(Model.LstAftersale, "Key", "Value")
                                                                     , new { id = "selAftersale"
                                                                     , @class = " span3 hide"
                                                                     , dataplaceholder = "--Aftersale--"
                                                                     , tabindex = 8 })
                        }
                        
                        @Html.DropDownListFor(m => m.PostingNumber, new SelectList(Model.LstPostingNumberDuration, "Key", "Value")
                                                                     , new { id = "selPostingNumber"
                                                                     , @class = "chosen span3"
                                                                     , tabindex = 9 })
                        <select class="chosen span3" id="selActiveStatus" tabindex="10">
                            <option value="-1">--Active--</option> 
                            <option value="1">Active Customer</option>
                            <option value="0">Unactive customer</option>
                        </select>
                        <div id="divActiveStatusInMonth" class="chzn-container chzn-container-single">
                            <div class="block overflow-hidden input-append date date-picker" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-min-view-mode="months">
                                <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="@DateTime.Now.ToString("MM/yyyy") " placeholder="--Month active status--" id="txtActiveStatusInMonth" readonly="readonly" tabindex="11" />
                                <span class="add-on">
                                    <i class="icon-remove"></i>
                                </span>
                                <span class="add-on">
                                    <i class="icon-calendar"></i>
                                </span>
                            </div>
                        </div>


                        <div id="divStartDate" class="chzn-container chzn-container-single">
                            <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                                <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="" placeholder="--Start Date--" id="txtStartDate" tabindex="12" />
                                <span class="add-on">
                                    <i class="icon-remove"></i>
                                </span>
                                <span class="add-on">
                                    <i class="icon-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div id="divEndDate" class="chzn-container chzn-container-single" style="margin-top:5px !important;">
                            <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                                <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="" placeholder="--End Date--" id="txtEndDate" tabindex="13" />
                                <span class="add-on">
                                    <i class="icon-remove"></i>
                                </span>
                                <span class="add-on">
                                    <i class="icon-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="chzn-container chzn-container-single">
                            <div class="block overflow-hidden">
                                <button id="btnSearch" type="button" class="btn green valign-base" tabindex="10" title="Search Customer">
                                    <i class="m-icon-swapright m-icon-white"></i>
                                    Search
                                </button>
                                <button id="btnReset" type="button" class="btn green valign-base" tabindex="11" title="Reset search form">
                                    <i class="icon-refresh"></i>
                                    Reset
                                </button>
                                @*@if (isExportExcelPermission)
                                {
                                    <button id="btnExportExcel" type="button" class="btn green">
                                        <i class="icon-share-alt"></i>
                                        Export Excel
                                    </button>
                                    <input type="hidden" id="hiddStartDate" name="StartDate" />
                                    <input type="hidden" id="hiddEndDate" name="EndDate" />
                                }*@
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row-fluid" id="divBodyListCustomer">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>
                List Customer
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove" id="lnkRemoveListCustomer"></a>
            </div>
        </div>
        <div class="portlet-body forget-form" id="divListCustomer">
            <div class="clearfix">
                <div class="btn-group pull-right">
                    @if (isAddCustomer)
                    {
                        <button type="button" id="btnAddNew" class="btn blue" title="Add new customer">
                            <i class="icon-plus"></i>
                            Add New
                        </button>
                    }
                </div>
            </div>
            <div class="dataTables_wrapper form-inline">
                
            </div>
        </div>
    </div>
</div>
@if (isAddCustomer)
{
    <div class="row-fluid hide" id="divCreateCustomer">
        @Html.Action("Create", "Customer")
    </div>
}    
<div class="hide modal fade modal-large" id="divAddProfile">
    @Html.Action("Create", "Profile")
</div>
<div class="hide modal fade modal-large" id="divEditProfile">
    @Html.Partial("~/Views/Profile/Edit.cshtml")
</div>
<div class="hide modal fade modal-large" id="divListProfile">
</div>
<div class="row-fluid hide" id="divEditCustomer">
    @Html.Action("Edit", "Customer")
</div>
<div class="row-fluid" id="wrapCustomerDetail">
</div>
@if (currUser.HasRole(RoleSystem.Admin, RoleSystem.Manager))
{
    <div class="hide modal fade" id="wrapAssignTo">
        @Html.Partial("~/Views/Customer/AssignToPartial.cshtml", Model.LstGroup)
    </div>
    <div class="hide modal fade" id="wrapAssignToASA">
        @Html.Partial("~/Views/Customer/AssignToASAPartial.cshtml", Model.LstGroup)
    </div>
}
<div class="hide modal fade" id="wrapNote">
    @Html.Partial("~/Views/Customer/NotePartial.cshtml")
</div>
<script type="text/javascript">
    sysfile.load("/Content/assets/scripts/views/Customer.js", function () {
        customer_index.init();
        customer_edit.init();
        @if(isAddCustomer)
        {
            @: customer_create.init();
        }
    });
</script>