﻿@using BCRM.BXH.Indo.Models
@{
    Layout = null;
    var currUser = (UserAuthenticateModel)ViewBag.CurrentUser;
}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-plus"></i>Requesting to retrieve postings
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="remove" id="lnkRemoveRequestRetrievingPosting" control-relation='lnkRemoveListCustomer'></a>
        </div>
    </div>
    <div class="portlet-body forget-form">
        <div class="clearfix">
            <div class="btn-group pull-right">
                @if (currUser.HasRole(RoleSystem.Admin, RoleSystem.Manager, RoleSystem.Sale))
                {
                    <button type="button" id="btnAddRequest" href="#wrapAddRequestRetrievePosting" data-toggle="modal" class="btn blue" title="Add new request">
                        <i class="icon-plus"></i>
                        Add Request
                    </button>
                }
            </div>
        </div>
        <div class="dataTables_wrapper form-inline">

        </div>
    </div>
</div>