﻿@using BCRM.BXH.Indo.Library
@using BCRM.BXH.Indo.Entity;
@using BCRM.BXH.Indo.Models
@model List<RequestRetrievePosting>
@{
    Layout = null;
    var index = 1;
    var currUser = (UserAuthenticateModel)ViewBag.CurrUser;
}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th class="w20">#</th>
            <th class="w200">Number of postings</th>
            <th>Status</th>
            <th>Requester</th>
            <th>Date of creation</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@(index++) </td>
            <td name="postingrequestamount">@(item.PostingRequestAmount) </td>
            @if (item.Status == RequestRetrievePostingStatus.Pending.GetHashCode())
            {
                <td><span class="label label-warning">Pending</span></td>
                <td>@(item.CreatedBy) </td>
                <td>@(item.CreatedDate.ToString("dd/MM/yyyy")) </td>
                <td>
                    @if (currUser.HasRole(RoleSystem.Admin, RoleSystem.Manager, RoleSystem.Sale))
                    {
                        <a name="edit" class="btn mini blue" href="#wrapAddRequestRetrievePosting" data-toggle="modal" data-rrpid="@(item.Id)" data-cusid="@(item.CustomerId)">
                            <i class="icon-edit"></i>
                            Edit
                        </a>
                        <a name="delete" class="btn mini red" data-rrpid="@(item.Id)" data-cusid="@(item.CustomerId)">
                            <i class="icon-remove"></i>
                            Delete
                        </a>
                    }
                    @if (currUser.HasRole(RoleSystem.Admin, RoleSystem.Manager, RoleSystem.AfterSale))
                    {
                        <a name="compeleting" class="btn mini green" data-rrpid="@(item.Id)" data-cusid="@(item.CustomerId)">
                            <i class="icon-ok"></i>
                            Done
                        </a>
                    }
                </td>
            }
            else
            {
                <td><span class="label label-success">Done</span></td>
                <td>@(item.CreatedBy) </td>
                <td>@(item.CreatedDate.ToString("dd/MM/yyyy")) </td>
                <td></td>
            }
        </tr>
    }
    </tbody>
</table>