﻿.block {display: block !important;}
.overflow-hidden{overflow: hidden !important;}
.overflow-inherit{overflow: inherit !important;}
.overflow-visible{overflow: visible !important;}
.overflow-x-auto{overflow-x: auto !important;}
.inline-block {display: inline-block;}
.float-left{float: left;}
.float-right{float: right;}
.clear-right{clear: right;}
.clear-both{clear: both;}
.no-padding{padding: 0px!important;}
.no-left-padding{padding-left: 0 !important;}
.no-bottom-margin{margin-bottom: 0 !important;}
.nowrap { white-space: nowrap !important; }
.row-item-first{float: left;clear: both; display: inline-block;}
.row-item-nomal{float: left;clear: right; display: inline-block;}
.display-table{display: table;}
.display-none{display:none;}
.color-red{color: red}
.w20{width: 20px!important;}
.w30{width: 30px!important;}
.w40{width: 40px!important;}
.w50{width: 50px!important;}
.w55{width: 55px!important;}
.w60{width: 60px!important;}
.w70{width: 70px!important;}
.w80{width: 80px!important;}
.w90{width: 90px!important;}
.w100{width: 100px!important;}
.w110{width: 110px!important;}
.w120{width: 120px!important;}
.w130{width: 130px!important;}
.w140{width: 140px!important;}
.w150{width: 150px!important;}
.w160{width: 160px!important;}
.w170{width: 170px!important;}
.w180{width: 180px!important;}
.w190{width: 190px!important;}
.w200{width: 200px!important;}
.w210{width: 210px!important;}
.w220{width: 220px!important;}
.w230{width: 230px!important;}
.w240{width: 240px!important;}
.w250{width: 250px!important;}
.w260{width: 260px!important;}
.w270{width: 270px!important;}
.w280{width: 280px!important;}
.w290{width: 290px!important;}
.w300{width: 300px!important;}
.w350{width: 350px!important;}
.w400{width: 400px!important;}
.w500{width: 500px!important;}
.w600{width: 600px!important;}
.mw80{min-width: 80px!important;}
.mw90{min-width: 90px!important;}
.mw100{min-width: 100px!important;}
.mw120{min-width: 120px!important;}
.mw150{min-width: 150px!important;}
.mw200{min-width: 200px!important;}
.mw300{min-width: 300px!important;}
.pdb2{padding-bottom: 2px !important;}
.mgt0{margin-top: 0px !important;}
.mgb0{margin-bottom: 0px !important;}
.mgb4{margin-bottom: 4px !important;}
.mgb10{margin-bottom: 10px !important;}
.mgb15{margin-bottom: 15px !important;}
.mgl3{margin-left: 3px!important;}
.mgl5{margin-left: 5px!important;}
.mgl40{margin-left: 40px!important;}
.mgt10{margin-top: 10px!important;}
.mgt20{margin-top: 20px!important;}
.mgt30{margin-top: 30px!important;}
.mgt40{margin-top: 40px!important;}
.mgt50{margin-top: 50px!important;}
.red-label{color: #D84A38;}
.align-left{text-align: left !important;}
.align-right{text-align: right !important;}
.align-center{text-align: center!important}
.valign-base{vertical-align: baseline !important;}
.valign-middle{vertical-align: middle !important;}
.h10{height: 10px!important;}
.h20{height: 20px!important;}
.h30{height: 30px!important;}
.h40{height: 40px!important;}
.h50{height: 50px!important;}
.h75{height: 75px!important;}
.h100{height: 100px!important;}
.h110{height: 110px!important;}
.h150{height: 150px!important;}
.h200{height: 200px!important;}
.h300{height: 300px!important;}
.h400{height: 400px!important;}
.h500{height: 500px!important;}
.h800{height: 800px!important;}
.modal-large {left:17%!important;width: 66%!important;margin-left: 0px!important}
.modal-wide {left:10%!important;width: 80%!important;margin-left: 0px!important}
.modal-full {left:1%!important;width: 98%!important;margin-left: 0px!important}
.lh30{line-height: 30px!important;}
.scroll{overflow: scroll; overflow-x: hidden;}
input.phone-number::-webkit-outer-spin-button,
input.phone-number::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}
.navbar-fixed-bottom>.row-fluid>.span6>.dataTables_paginate>ul{
    display:block !important;
}