﻿@using BCRM.BXH.Indo.Entity
@using BCRM.BXH.Indo.Models
@using BCRM.BXH.Indo.Library
@using BCRM.BXH.Indo.Language
@model CrawlerCustomerSuccessContactModel
@{
    Layout = null;
    var currentUser = (UserAuthenticateModel)ViewBag.CurrentUser;
    var lstCity = (List<City>)ViewBag.ListCity;
    var lstRegion = (List<Region>)ViewBag.ListRegion;
    var listPhone = (List<string>)ViewBag.LstPhone;
}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-plus"></i> @LanguageRes.BoxTitle_ConfirmSuccess
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="remove" id="lnkRemoveSuccessContact" control-relation='lnkRemoveListCustomer'></a>
        </div>
    </div>
    <div class="portlet-body forget-form">
        <form action="#" id="frmSuccessContact" class="form-horizontal">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtFullName">
                            @LanguageRes.Lbl_CrawlerCS_FullName <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <input name="FullName" maxlength="50" value="@Model.FullName" type="text" class="m-wrap span12" data-trigger="hover" />
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtPhoneNumber">
                            @LanguageRes.Lbl_CrawlerCS_PhoneNumber <span class="required">*</span>
                        </label>
                        <div class="controls input-icon">
                            <select name="PhoneNumber" class="m-wrap span12 chosen" data-placeholder="--Phone Number--">
                                @foreach (var phoneItem in listPhone)
                                {
                                    <option value="@phoneItem">@phoneItem</option>
                                }
                            </select>
                            
                            @*<input name="PhoneNumber" type="number" maxlength="15" value="@Model.PhoneNumber" class="m-wrap phone-number span12" />*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlType">
                            @LanguageRes.Lbl_CrawlerCS_TypeOfCus <span class="required">*</span>
                        </label>
                        <div class="controls">
                            @Html.DropDownList("PostingType", new SelectList(Helper.ListPostingTypeName(), "Key", "Value", Model.PostingType), new { @class = "m-wrap span12 chosen" })
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtAssignTo">
                            @LanguageRes.Lbl_CrawlerCS_AssignTo
                        </label>
                        <div class="controls">
                            <input name="AssignTo" value="@Model.AssignTo" type="text" class=" m-wrap popovers span12" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlCity">
                            @LanguageRes.Lbl_CrawlerCS_Region <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <select name="RegionId" class="m-wrap span12 chosen" data-placeholder="--Region--">
                                @foreach (var region in lstRegion)
                                {
                                    <option value="@region.Id">@region.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlCity">
                            @LanguageRes.Lbl_CrawlerCS_ProvinceCity <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <select name="CityId" class="m-wrap span12 chosen" data-placeholder="--City--">
                                <option value="">--Provinsi--</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlDistrict">
                            @LanguageRes.Lbl_CrawlerCS_District
                        </label>
                        <div class="controls">
                            <select name="DistrictId" class="m-wrap span12 chosen" data-placeholder="--District--">
                                <option value="">--Kota/kab--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtAddress">
                            @LanguageRes.Lbl_CrawlerCS_Address <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <input name="Address" maxlength="255" value="@Model.Address" type="text" class="m-wrap span12" />
                            @*@Html.TextBoxFor(m => m.Address, new { id = "txtAddress", @class = "m-wrap span12" })*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtEmail">
                            @LanguageRes.Lbl_CrawlerCS_Email <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <div class="input-icon left">
                                <i class="icon-envelope"></i>
                                <input type="text" maxlength="50" name="Email" value="@Model.Email" placeholder="Email Address" class="m-wrap span12" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="txaDescription">
                            @LanguageRes.Lbl_CrawlerCS_Description
                        </label>
                        <div class="controls">
                            @Html.TextArea("Description", new { id = "txaDescription", @class = "ckeditor m-wrap span12", rows = "6" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="span12">
                    <button type="button" data-adminid="@Model.CrawlerId" data-carehistoryid="@Model.CareHistoryId" name="save" class="btn blue" title="Save">
                        <i class="icon-save"></i>
                        @LanguageRes.Button_Confirm
                    </button>
                    <button type="button" name="close" class="btn blue" title="Close">
                        <i class="icon-remove"></i>
                        @LanguageRes.Button_Close
                    </button>
                    <input type="hidden" name="TokenChecksum" value="@ViewBag.TokenChecksum" />
                </div>
            </div>
        </form>
    </div>
</div>
