﻿@using BCRM.BXH.Indo.Library
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="lblDetailEvent">Hidden Reason</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="control-group">
            <label class="control-label">
                Reason <span class="required">*</span>
            </label>
            <div class="controls">
                <div class="row-fluid">
                    <div class="span6">
                        <input type="radio" checked="checked" name="chkReasonType" value="@HideFromLeadReason.ExistedInCustomerList.GetHashCode()" />
                        <span>@HideFromLeadReason.ExistedInCustomerList.GetHashCode().ToHideFromLeadReasonName() </span>
                        <br />
                        <input type="radio" name="chkReasonType" value="@HideFromLeadReason.PhoneOwnerNotWorkingThatShowroom.GetHashCode()" />
                        <span>@HideFromLeadReason.PhoneOwnerNotWorkingThatShowroom.GetHashCode().ToHideFromLeadReasonName() </span>
                        <br />
                        <input type="radio" name="chkReasonType" value="@HideFromLeadReason.PhoneOwnerNotWorkingInCar.GetHashCode()" />
                        <span>@HideFromLeadReason.PhoneOwnerNotWorkingInCar.GetHashCode().ToHideFromLeadReasonName() </span>
                    </div>
                    <div class="span6">
                        <input type="radio" name="chkReasonType" value="@HideFromLeadReason.PhoneOwnerNotResponse.GetHashCode()" />
                        <span>@HideFromLeadReason.PhoneOwnerNotResponse.GetHashCode().ToHideFromLeadReasonName() </span>
                        <br />
                        <input type="radio" name="chkReasonType" value="@HideFromLeadReason.PhoneNumberNotExist.GetHashCode()" />
                        <span>@HideFromLeadReason.PhoneNumberNotExist.GetHashCode().ToHideFromLeadReasonName() </span>
                        <br />
                        <input type="radio" name="chkReasonType" value="@HideFromLeadReason.Other.GetHashCode()" />
                        <span>@HideFromLeadReason.Other.GetHashCode().ToHideFromLeadReasonName() </span>
                    </div>
                </div>
                <div class="row-fluid" name="msg_error">

                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="control-group">
            <label class="control-label">
                Note <span class="required">*</span>
            </label>
            <div class="controls">
                <textarea class="m-wrap span11" cols="5" rows="3" maxlength="500" name="Note"></textarea>
                <div class="row-fluid" name="msg_error">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <input type="hidden" name="hiddAdminId" value="0" />
    <input type="hidden" name="hiddPhoneNumber" value="" />
    <button type="button" name="save" class="btn blue">
        <i class="icon-save"></i> Save
    </button>
    <button type="button" name="close" class="btn blue" data-dismiss="modal" aria-hidden="true" title="Close">
        <i class="icon-remove"></i> Cancel
    </button>
    <input type="hidden" name="HideFromSaleTokenChecksum" value="" />
</div>