﻿@using BCRM.BXH.Indo.Models
@using BCRM.BXH.Indo.Language
@model CrawlerCustomerIndexModel
@{
    Layout = null;
    var currUser = (UserAuthenticateModel)ViewBag.CurrentUser;
}
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            @LanguageRes.CrawlerCustomerManagementTitle
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">@(LanguageRes.HomeCumTitle)</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="#">@LanguageRes.CrawlerCustomerManagementTitle</a></li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cogs"></i>
                @(LanguageRes.SearchBoxTitle)
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body forget-form">
            <form action="#" class="form-horizontal" id="frmSearchCrawlerCustomer">
                <div class="row-fluid">
                    <div class="span3">
                        @Html.TextAreaFor(m => m.FilterKeyword, new { @class = "span12 m-wrap h110 mgb4", id = "txtFilterKeyword", placeholder = LanguageRes.PlaceHolder_Keyword, tabindex = "1", rows = "1" })
                    </div>
                    <div class="span9">
                        <select name="AssignTo" class="chosen span3" dataplaceholder="--Customer is Cared By--" tabindex=2>
                            <option value="-1">@(LanguageRes.Option_AllVisibleCustomers)</option>
                            <option value="0">@(LanguageRes.Option_UnassignCustomers)</option>
                            @foreach (var userItem in Model.LstUser)
                            {
                                <option value="@userItem.UserName">@userItem.UserName</option>
                            }
                        </select>
                        <select name="Status" class="chosen span3" dataplaceholder="--status--" tabindex=2>
                            <option value="-1">@LanguageRes.Option_AllStatus</option>
                            <option value="0">No contact</option>
                            <option value="2">Reject</option>
                        </select>
                        <select name="PostingType" class="chosen span3" dataplaceholder="--posting type--" tabindex=2>
                            <option value="-1">--Type of customers--</option>
                            @foreach (var item in BCRM.BXH.Indo.Library.Helper.ListPostingTypeWithPostingName())
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                        @if (currUser.HasRole(RoleSystem.Admin, RoleSystem.Manager))
                        {
                            <select name="HiddenStatus" class="chosen span3" dataplaceholder="--Hidden status--" tabindex=2>
                                <option value="-1">--Hidden status--</option>
                                <option value="0">Hidden</option>
                                <option value="1">Unhide</option>
                            </select>
                        }

                        <div id="divStartDate" class="chzn-container chzn-container-single">
                            <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                                <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="" placeholder="@(LanguageRes.PlaceHolder_CreationDateFrom)" name="DateOfCreationFrom" tabindex="8" />
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div id="divEndDate" class="chzn-container chzn-container-single">
                            <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                                <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="" placeholder="@(LanguageRes.PlaceHolder_CreationDateTo)" name="DateOfCreationTo" tabindex="9" />
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div class="chzn-container chzn-container-single">
                            <div class="block overflow-hidden">
                                <button name="search" type="button" class="btn green valign-base" tabindex="10" title="Search Customer">
                                    <i class="m-icon-swapright m-icon-white"></i>
                                    @(LanguageRes.Button_Search)
                                </button>
                                <button name="reset" type="button" class="btn green valign-base" tabindex="11" title="Reset search form">
                                    <i class="icon-refresh"></i>
                                    @(LanguageRes.Button_Reset)
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row-fluid" id="divBodyListCrawlerCustomer">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>
                @LanguageRes.BoxTitle_ListCrawler
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove" id="lnkRemoveListCrawlerCustomer"></a>
            </div>
        </div>
        <div class="portlet-body forget-form">
            <div class="clearfix"></div>
            <div class="dataTables_wrapper form-inline" id="divListCrawlerCustomer">

            </div>
        </div>
    </div>
</div>

<div class="hide modal fade" id="wrapReceiver">
    @Html.Partial("~/Views/CrawlerCustomer/ReceivePartial.cshtml")
</div>

<div class="hide modal fade" id="wrapNote">
    @Html.Partial("~/Views/CrawlerCustomer/NotePartial.cshtml")
</div>
<div class="hide" id="wrapContactSuccess">

</div>
<div class="hide modal fade" id="wrapHideFromList">
    @Html.Partial("~/Views/CrawlerCustomer/HideFromListPartial.cshtml")
</div>

<script type="text/javascript">
    app.initDateTimePickers();
    app.initPortletTools();
    app.initChoosenSelect($('#frmSearchCrawlerCustomer'));
    sysfile.load("/Content/assets/scripts/views/CrawlerCustomer.js", function () {
        var lan_res = {
            msg_cusreceive_confirm: '@(LanguageRes.Msg_CusReceive_Confirm)',
            act_crawlersearch_contactfailure : '@(LanguageRes.Act_CrawlerSearch_ContactFailure)',
            act_crawlersearch_contactsuccess: '@(LanguageRes.Act_CrawlerSearch_ContactSuccess)',
            act_crawlersearch_manager: '@(LanguageRes.Act_CrawlerSearch_Manager)',
            act_crawlersearch_note: '@(LanguageRes.Act_CrawlerSearch_Note)',
            act_crawlersearch_receive: '@(LanguageRes.Act_CrawlerSearch_Receive)',
            act_crawlersearch_return: '@(LanguageRes.Act_CrawlerSearch_Return)',
            msg_cusfailcontact_confirm: '@(LanguageRes.Msg_CusFailContact_Confirm)',
            msg_cusreturn_confirm: '@LanguageRes.Msg_CusReturn_Confirm',
            option_no_city: '@(LanguageRes.Option_CusAdd_NoProvince)',
            option_no_district: '@(LanguageRes.Option_CusAdd_NoDistrict)',
            msg_required_fullname: '@(LanguageRes.Msg_Required_FullName)',
            msg_required_phonenumber: '@(LanguageRes.Msg_Required_Phonenumber)',
            msg_required_province: '@(LanguageRes.Msg_Required_Province)',
            msg_required_address: '@(LanguageRes.Msg_Required_Address)',
            msg_invalid_email: '@(LanguageRes.Msg_Invalid_Email)'
        };
        crawler_customer_index.init(lan_res);
    });
</script>