﻿@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="lblDetailEvent">Approve Payment</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="control-group">
            <label class="control-label">
                Verified payment date <span class="required">*</span>
            </label>
            <div class="controls">
                <div id="divVerifiedPaymentDate">
                    <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                        <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="" placeholder="--Verified Payment Date--" name="VerifiedPaymentDate" />
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
                <div name="msg_valid" style="width:100%;"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" name="save" class="btn blue">
        <i class="icon-save"></i> Approve
    </button>
    <button type="button" name="close" class="btn default" data-dismiss="modal" aria-hidden="true" title="Close">
        <i class="icon-remove"></i>Cancel
    </button>
    <input type="hidden" name="ApproveTokenEncrypt" value="" />
    <input type="hidden" name="HiddId" value="" />
</div>