﻿@{
    Layout = null;
}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-plus"></i>Add New Payment
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="remove" id="lnkRemoveCreatePayment" control-relation='lnkRemoveListPayment'></a>
        </div>
    </div>
    <div class="portlet-body forget-form">
        <div class="row-fluid">
            <div class="span6">
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label" for="txtPhoneNumber">
                            Customer <span class="required">*</span>
                        </label>
                        <div class="controls input-icon">
                            <div class="span12">
                                <input name="CustomerInfo" value="" placeholder="--Enter your phonenumber or email--" class="span12 m-wrap" />
                                <button name="GetInfoCustomer" class="btn blue" title="Get Info Customer"  ><i class="icon-ok"></i></button>
                                <button name="ClearInfoCustomer" class="btn red hide" title="Get Info Customer"><i class="icon-remove"></i></button>
                                <input type="hidden" name="CustomerId" />
                            </div>
                            <div name="msg_valid" style="width:100%;">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label">Money <span class="required">*</span></label>
                            <div class="controls">
                                <input name="Money" class="span12 m-wrap" value="" />
                                <div name="msg_valid" style="width:100%;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label">Payment date <span class="required">*</span></label>
                            <div class="controls">
                                <div id="divEndDate" class="" >
                                    <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                                        <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="" placeholder="--Payment Date--" name="PaymentDate" />
                                        <span class="add-on"><i class="icon-remove"></i></span>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </div>
                                <div name="msg_valid" style="width:100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6">

            </div>
        </div>
        
        <div class="form-actions">
            <div class="span12">
                <button type="button" id="btnAddNewPayment" class="btn blue" title="">
                    <i class="icon-save"></i>
                    Save
                </button>
                <button type="button" id="btnCloseAddNewPayment" class="btn " title="">
                    <i class="icon-remove"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>