﻿@using BCRM.BXH.Indo.Models
@using BCRM.BXH.Indo.Library
@model PaymentSearchModel
@{
    Layout = null;
}
<td name="wrap_index">@(Model.Index)</td>
<td>@Model.CreatedBy </td>
<td> @(string.Format("{0}({1})({2})", Model.CustomerFullName, Model.CustomerPhone, Model.CustomerEmail)) </td>
<td>@(Model.Money) </td>
<td>@(Model.CreatedDate.ToString("dd/MM/yyyy")) </td>
<td>
    @if (Model.Status == (short)PaymentStatus.Pending)
    {
        <span class="label label-default">Pending</span>
    }
    else if (Model.Status == (short)PaymentStatus.Approved)
    {
        <span class="label label-success"> Approved </span>
    }
    else
    {
        <span class="label label-warning"> Rejected </span>
    }
</td>
<td></td>
<td>
    @Model.Feedback
</td>
<td>
    @if (Model.Status == (short)PaymentStatus.Pending)
    {
        <a name="approved" class="btn mini blue edit align-left" href="#divApprovePayment" data-toggle="modal" data-id="@Model.Id">
            <i class="icon-ok"></i>
            Approved
        </a>
        <a name="reject" class="btn mini red edit align-left" href="#divRejectPayment" data-toggle="modal" data-id="@Model.Id">
            <i class="icon-remove"></i>
            Reject
        </a>
    }
</td>