﻿@{
    Layout = null;
}
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            Payment
            <small>Payment Manager</small>
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="#">Payment</a></li>
        </ul>
    </div>
</div>

<div class="row-fluid" id="divSearchPayment">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cogs"></i>
                Search Box
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
    </div>
    <div class="portlet-body forget-form">
        <div class="row-fluid" style="display:inline">
            <div class="span3">
                <input name="FilterKeyword" class="span12 m-wrap" placeholder="--Phonenumber or email--" value="" />
            </div>
            <div class="span9" style="display:inline-block">
                <select id="selCreator" class="chosen span3">
                    <option value="0">--creator--</option>
                </select>
                <select id="selStatus" class="chosen span3">
                    <option value="0">--status--</option>
                    <option value="1">Pending</option>
                    <option value="2">Approved</option>
                    <option value="3">Rejected</option>
                </select>

                <div id="divStartDate" class="chzn-container chzn-container-single">
                    <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                        <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="" placeholder="--Start Date--" id="txtStartDate" tabindex="12" />
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
                <div id="divEndDate" class="chzn-container chzn-container-single">
                    <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                        <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="" placeholder="--End Date--" id="txtEndDate" tabindex="13" />
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
                <div class="chzn-container chzn-container-single">
                    <div class="block overflow-hidden">
                        <button id="btnSearch" type="button" class="btn green valign-base" tabindex="10" title="Search Customer">
                            <i class="m-icon-swapright m-icon-white"></i>
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid" id="divListPayment">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>
                List Payment
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove" id="lnkRemoveListPayment"></a>
            </div>
        </div>
        <div class="portlet-body forget-form" id="divShowListPayment">
            <div class="clearfix">
                <div class="btn-group pull-right">
                    <button type="button" id="btnAddNew" class="btn blue" title="Add new payment">
                        <i class="icon-plus"></i>
                        Add New
                    </button>
                </div>
            </div>
            <div class="dataTables_wrapper form-inline" id="divTablePayment">

            </div>
        </div>

    </div>
</div>

<div class="row-fluid" id="divAddPayment">

</div>
<div class="modal fade" id="divApprovePayment">
    @Html.Partial("~/Views/Payment/Approved.cshtml")
</div>
<div class="modal fade" id="divRejectPayment">
    @Html.Partial("~/Views/Payment/Reject.cshtml")
</div>
<script type="text/javascript">
    sysfile.load("/Content/assets/scripts/views/Payment.js", function () {
        payment_index.init();
    });
</script>