﻿@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="lblDetailEvent">Reject Payment</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="control-group">
            <label class="control-label">
                Feedback <span class="required">*</span>
            </label>
            <div class="controls">
                <textarea class="m-wrap span12" rows="3" cols="5" name="Feedback"></textarea>
                <div name="msg_valid" style="width:100%;"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" name="reject" class="btn red">
        <i class="icon-save"></i> Reject
    </button>
    <button type="button" name="close" class="btn default" data-dismiss="modal" aria-hidden="true" title="Close">
        <i class="icon-remove"></i>Cancel
    </button>
    <input type="hidden" name="RejectTokenEncrypt" value="" />
    <input type="hidden" name="HiddId" value="" />
</div>