﻿@using BCRM.BXH.Indo.Models
@using BCRM.BXH.Indo.Library
@model List<PaymentSearchModel>
@{
    Layout = null;
    var count = 1;
}

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th class="w20">#</th>
            <th>Creator</th>
            <th>Customer info</th>
            <th>Money</th>
            <th>Creation Date </th>
            <th>Status </th>
            <th>Assignee</th>
            <th>Feedback</th>
            <th class="w100"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td name="wrap_index">@(count++)</td>
                <td>@item.CreatedBy </td>
                <td> @(string.Format("{0}({1})({2})", item.CustomerFullName,item.CustomerPhone,item.CustomerEmail)) </td>
                <td>@(item.Money) </td>
                <td>@(item.CreatedDate.ToString("dd/MM/yyyy")) </td>
                <td>
                    @if(item.Status == (short)PaymentStatus.Pending)
                    {
                        <span class="label label-default">Pending</span>
                    }
                    else if(item.Status == (short)PaymentStatus.Approved )
                    {
                        <span class="label label-success" > Approved </span>
                    }
                    else
                    {
                        <span class="label label-warning"> Rejected </span>
                    }
                </td>
                <td></td>
                <td>
                    @item.Feedback
                </td>
                <td>
                    @if (item.Status == (short)PaymentStatus.Pending)
                    {
                        <a name="approved" class="btn mini blue edit align-left" href="#divApprovePayment" data-toggle="modal" data-id="@item.Id">
                            <i class="icon-ok"></i>
                            Approved
                        </a>
                        <a name="reject" class="btn mini red edit align-left" href="#divRejectPayment" data-toggle="modal" data-id="@item.Id">
                            <i class="icon-remove"></i>
                            Reject
                        </a>
                    }

                    
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="navbar-fixed-bottom" style="margin-left:20px;margin-right:20px; background-color: white;color: black;border:1px solid #ddd;">
    @Html.Action("Paging", "Common", new { pager = ViewBag.Pager })
</div>