﻿@using BCRM.BXH.Indo.Library
@using BCRM.BXH.Indo.Models
@model UserIndexModel
@{
    Layout = null;
    var count = 0;
    var currUser = (UserAuthenticateModel)ViewBag.CurrUser;
}
<div class="row-fluid" name="tmpHeader">
    <h3 class="page-title">
        User Manager <small>Management,Create,Edit And list of Saler </small>
    </h3>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Users</a> </li>
    </ul>
</div>
<div class="row-fluid" id="divbodyUser">
    <div class="row-fluid" id="wapListUser">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>List of Users
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove" id="lnkRemoveListUser"></a>
                </div>
            </div>
            <div class="portlet-body forget-form" id="listUser">
                <div class="clearfix">
                    <div class="btn-group pull-right">
                        <button type="button" id="btnAddUser" class="btn blue" >
                            <i class="icon-plus"></i>
                            Add new
                        </button>
                    </div>
                </div>
                <div class="row-fluid" id="divListUser">
                    @Html.Action("Search","User")
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid hide" id="divUserForCreate">

</div>
<div class="row-fluid hide" id="divSetPermission">
    
</div>
<div class="row-fluid hide" id="divListPermissions">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>List of Permission
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove" id="lnkRemoveListPermission" control-relation="btnAddUser"></a>
            </div>
        </div>
        <div class="portlet-body forget-form" id="listUserRoleGroup">
            <div class="clearfix">
                <div class="btn-group pull-right">
                    @if (currUser.HasRole(RoleSystem.Admin))
                    {
                        <button type="button" id="btnAddPermission" class="btn blue">
                            <i class="icon-plus"></i>
                            Add new
                        </button>
                    }
                </div>
            </div>
            <div class="row-fluid" id="divListUserRoleGroup">

            </div>
            <div class="form-actions">
                <button type="button" id="btnCloseUserRoleGroup" class="btn blue" value="0" title="Close form" >
                    <i class="icon-remove"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid hide" id="divChangePassword">

</div>
<script type="text/javascript" lang="ja">
    sysfile.load('/content/assets/scripts/views/users.js', function () {
        var groupArray = [];
        @foreach (var item in Model.LstGroup)
        {
            @:groupArray.push({Value:"@(item.Id)",Text:"@(item.Name)" }); 
        }
        user_index.init(groupArray);
    });
</script>