﻿@using BCRM.BXH.Indo.Library
@using BCRM.BXH.Indo.Models
@model List<BCRM.BXH.Indo.Models.UserSearchModel>
@{
    Layout = null;
    var count = 0;
    var curUser = (UserAuthenticateModel)ViewBag.CurrUser;
}

<table class="table table-hover table-striped" width="100%">
    <thead>
        <tr>
            <th class="w20">#</th>
            <th>Account name</th>
            <th>Email</th>
            <th>Group</th>
            <th>Status</th>
            <th>Last activity Date</th>
            <th>ID</th>
            <th>Hide from report</th>
            <th class="w280"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userInfo in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@userInfo.UserName </td>
                <td>@userInfo.Email </td>
                <td>@userInfo.GroupName</td>
                <td>
                    @if (userInfo.Status == UserStatus.Avaiable.GetHashCode())
                    {
                        <span class="label label-success">Actived</span>
                    }
                    else
                    {
                        <span class="label label-important">Inactived</span>
                    }
                </td>
                <td>@(userInfo.LastActivityDate == DateTime.MinValue ? "" : userInfo.LastActivityDate.ToString("MM/dd/yyyy HH:mm:ss")) </td>
                <td>@userInfo.Id </td>
                <td style="text-align:center;">
                    @if (userInfo.IsHiddenFromReport)
                    {
                        <label class="label label-default">Hidden</label>
                    }
                </td>
                <td>
                    <a name="btnEditUser" class="btn mini blue edit align-left" data-userid="@userInfo.Id">
                        <i class="icon-edit"></i>
                        Edit
                    </a>
                    @if (userInfo.Status == UserStatus.Avaiable.GetHashCode())
                    {
                        <a name="btnBlock" class="btn mini blue edit align-left" data-userid="@userInfo.Id">
                            <i class="icon-lock"></i>
                            Block
                        </a>
                    }
                    else
                    {
                        <a name="btnUnblock" class="btn mini blue edit align-left" data-userid="@userInfo.Id">
                            <i class="icon-unlock"></i>
                            Unblock
                        </a>
                    }
                    <a name="btnChangePassword" class="btn mini blue edit align-left" data-userid="@userInfo.Id">
                        <i class="icon-edit"></i>
                        Change Password
                    </a>
                    @if (curUser.HasRole(RoleSystem.Admin))
                    {
                        <a name="btnSetPermission" class="btn mini blue edit align-left" data-userid="@userInfo.Id" data-username="@userInfo.UserName">
                            <i class="icon-edit"></i>
                            Permissions
                        </a>
                    }
                    @if (userInfo.IsHiddenFromReport)
                    {
                        <a name="btnUnHideReport" class="btn mini blue edit align-left" data-userid="@userInfo.Id">
                            <i class="icon-eye-open"></i>
                            Unhide from report
                        </a>
                    }
                    else
                    {
                        <a name="btnHideReport" class="btn mini blue edit align-left" data-userid="@userInfo.Id">
                            <i class="icon-eye-close"></i>
                            Hide from report
                        </a>
                    }

                    @if (curUser.HasRole(RoleSystem.Admin))
                    {
                        <a name="btnAllocateOTP" class="btn mini blue align-left" data-userid="@userInfo.Id" data-username="@userInfo.UserName">
                            <i class="icon-link"></i>
                            Allocate OTP
                        </a>
                    }
                    
                    
                </td>
            </tr>
        }
    </tbody>
</table>