﻿@using BCRM.BXH.Indo.Models
@model AdminWorkingAccountReportIndexModel
@{
    Layout = null;
}
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            Working User Report
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="#">Working User Report</a></li>
        </ul>
    </div>
</div>
<div class="row-fluid" id="wrapAdminWorkingAccountReportSearch">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cogs"></i>
                Search Box
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body forget-form">
            <div class="row-fluid">
                <div class="span3">
                    <div id="divStartDate" class="chzn-container chzn-container-single">
                        <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                            <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="@Model.StartDate.ToString("dd/MM/yyyy")" placeholder="Start date" name="StartDate" tabindex="1" />
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="span3" style="margin-left:0px;">
                    <div id="divEndDate" class="chzn-container chzn-container-single">
                        <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                            <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="@Model.EndDate.ToString("dd/MM/yyyy")" placeholder="End date" name="EndDate" tabindex="2" />
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="span3" style="margin-left:0px;">
                    <button name="search" type="button" class="btn green" tabindex="10" title="Search Customer">
                        <i class="m-icon-swapright m-icon-white"></i>
                        Search
                    </button>
                    <button name="reset" type="button" class="btn green" tabindex="11" title="Reset search form">
                        <i class="icon-refresh"></i>
                        Reset
                    </button>
                </div>

                <input type="hidden" name="HiddStartDate" value="@Model.StartDate.ToString("dd/MM/yyyy")" />
                <input type="hidden" name="HiddEndDate" value="@Model.EndDate.ToString("dd/MM/yyyy")" />
            </div>
        </div>
    </div>
</div>
<div class="row-fluid" id="wrapAdminWorkingAccountReportResult">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>
                Report
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove" id="lnkRemoveListAdminAccountStatistic"></a>
            </div>
        </div>
        <div class="portlet-body forget-form">
            <div class="clearfix"></div>
            <div class="dataTables_wrapper form-inline" style="width:100%;display:inline-block;" id="divListAdminAccountStatistic">
                <div class="span8">
                    <div id="line_chart" class="row-fluid" style="height:300px;">

                    </div>
                    <div id="line_chart_2" class="row-fluid">

                    </div>
                </div>
                <div id="table_chart" class="span4" style="height:600px;"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    sysfile.load("/Content/assets/scripts/views/AdminWorkingAccountReport.js", function () {
        var language_res = {
            active_customer_line_title: 'Active Customer',
            registered_customer_line_title: 'Registered Customer'
        };
        admin_working_account_report_index.init(language_res);
    });
</script>