﻿<div id="dialog-error" title="Error" class="hide">
    <p>
        <span class="glyphicons skull">
            <i></i>
        </span>
        <span class="dialog-msg"></span>
    </p>
</div>
<div id="dialog-info" title="Notice" class="hide">
    <p>
        <span class="glyphicons circle_info">
            <i></i>
        </span>
        <span class="dialog-msg"></span>
    </p>
</div>
<div id="dialog-warning" title="Warning" class="hide">
    <p>
        <span class="glyphicons warning_sign">
            <i></i>
        </span>
        <span class="dialog-msg"></span>
    </p>
</div>
<div id="dialog-confirm" title="Confirm" class="hide">
    <p>
        <span class="glyphicons circle_question_mark">
            <i></i>
        </span>
        <span class="dialog-msg"></span>
    </p>
</div>