﻿@{
    Layout = null;
}
<div class="header navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">
                <img src="/content/assets/img/logo-height-34.png" alt="logo" />
            </a>
            <ul class="nav pull-right"></ul>
        </div>
    </div>
</div>


