﻿@model HandleErrorInfo
@{
    Layout = null;
}
<div class="row-fluid">
    <div class="span12">
        <h1>Có lỗi xảy ra!</h1>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <span class="w70 inline-block">Controler</span>
        <span>: @Model.ControllerName</span>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <span class="w70 inline-block">Action</span>
        <span>: @Model.ActionName</span>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <span class="w70 inline-block">Message</span>
        <span>: @Html.Raw(Model.Exception.Message)</span>
    </div>
</div>