﻿@using BCRM.BXH.Indo.Models
@model UserAuthenticateModel
@{
    Layout = null;
}
<div class="header navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/">
                <img src="/content/assets/img/logo-BXH-Indo.png" alt="logo" />
            </a>
            <div class="navbar hor-menu hidden-phone hidden-tablet">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li class="vissible-phone visible-tablet"></li>
                        <li class="active">
                            <a href="/">
                                Home
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                                Menu
                                <span class="arrow"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (Model.HasRole(RoleSystem.Admin, RoleSystem.Manager, RoleSystem.Sale, RoleSystem.AfterSale))
                                {
                                    <li class="l2"><a href="javascript:;" controller="customer">Customers </a></li>
                                }
                                @if (Model.HasRole(RoleSystem.Admin, RoleSystem.Manager, RoleSystem.Sale))
                                {
                                    @*<li class="l2"><a href="javascript:;" controller="nonsalecustomer">Leads (from website)</a></li>*@
                                    <li class="l2"><a href="javascript:;" controller="crawlercustomer">Leads</a></li>
                                }
                                @if (Model.HasRole(RoleSystem.Admin, RoleSystem.Manager, RoleSystem.Sale,RoleSystem.Coordinate))
                                {
                                    @*<li class="l2"><a href="javascript:;" controller="nonsalecustomer">Leads (from website)</a></li>*@
                                    <li class="l2"><a href="javascript:;" controller="payment">Payment</a></li>
                                }
                                @*<li class="dropdown-submenu l1">
                                    <a href="javascript:;">
                                        Customer
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        @if (Model.HasRole(RoleSystem.Admin, RoleSystem.Manager, RoleSystem.Sale, RoleSystem.AfterSale))
                                        {
                                            <li class="l2"><a href="javascript:;" controller="customer">Customers </a></li>
                                        }
                                        @if (Model.HasRole(RoleSystem.Admin, RoleSystem.Manager, RoleSystem.Sale))
                                        {
                                            <li class="l2"><a href="javascript:;" controller="nonsalecustomer">Leads (from website)</a></li>
                                            <li class="l2"><a href="javascript:;" controller="crawlercustomer">Leads</a></li>
                                        }
                                    </ul>
                                    <b class="caret-out"></b>
                                </li>*@
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                                Reports
                                <span class="arrow"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (Model.HasRole(RoleSystem.Admin, RoleSystem.Manager, RoleSystem.Sale))
                                {
                                    <li><a href="javascript:;" controller="SaleReport" action="Index">Report of sales </a></li>
                                }
                                @if (Model.HasRole(RoleSystem.Admin, RoleSystem.Manager, RoleSystem.AfterSale))
                                {
                                    <li><a href="javascript:;" controller="AfterSaleAssistantReport" action="Index">Report of after sale assistant </a></li>
                                }
                                @if (Model.HasRole(RoleSystem.Admin, RoleSystem.Manager))
                                {
                                    <li><a href="javascript:;" controller="AdminWorkingAccountReport">Working User Report</a></li>
                                }
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        @if (Model.HasRole(RoleSystem.Admin, RoleSystem.Manager))
                        {
                            <li>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                                    System
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;" controller="Group" action="Index">Group Management </a></li>
                                    <li><a href="javascript:;" controller="User">Users Management </a></li>
                                </ul>
                                <b class="caret-out"></b>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <img src="/content/assets/img/menu-toggler.png" alt="" />
            </a>
            <ul class="nav pull-right">
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="username">@Model.UserName</span> 
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:;" controller="User" action="UserProfile">
                                <i class="icon-user"></i>
                                Personal
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Account/LogOff">
                                <i class="icon-key"></i>
                                Log Out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>