﻿@using BCRM.BXH.Indo.Models
@model SaleReportIndexModel
@{
    Layout = null;
    var firstInMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1, 0, 0, 0);
    
}
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">Sale Report</h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="#">Sale report</a></li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cogs"></i>
                Search Box
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body forget-form">
            <form action="#" class="form-horizontal" id="frmSearchSaleReport">
                <select name="GroupId" class="chosen span3">
                    @foreach (var item in Model.LstGroup)
                    {
                        <option value="@item.Key"> @item.Value </option>
                    }
                </select>
                <select name="AssignTo" class="chosen span3" dataplaceholder="--Customer is Cared By--" tabindex=2>
                    @foreach (var item in Model.LstUser)
                    {
                        <option value="@item.Key"> @item.Value </option>
                    }
                </select>
                <div id="divStartDate" class="chzn-container chzn-container-single" style="">
                    <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                        <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="@firstInMonth.ToString("dd/MM/yyyy")" placeholder="--Start Date--" id="txtStartDate" tabindex="2" />
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
                <div id="divEndDate" class="chzn-container chzn-container-single" style="">
                    <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                        <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="@(DateTime.Now.ToString("dd/MM/yyyy"))" placeholder="--End Date--" id="txtEndDate" tabindex="3" />
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
                <div class="chzn-container chzn-container-single">
                    <div class="block overflow-hidden">
                        <button id="btnSearch" type="button" class="btn green valign-base" tabindex="10" title="Search Saler">
                            <i class="m-icon-swapright m-icon-white"></i>
                            Search
                        </button>
                        <button id="btnReset" type="button" class="btn green valign-base" tabindex="11" title="Reset search form">
                            <i class="icon-refresh"></i>
                            Reset
                        </button>

                        <input type="hidden" name="FirstInMonth" value="@firstInMonth.ToString("dd/MM/yyyy")" />
                        <input type="hidden" name="NowTime" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row-fluid" id="divSearchSaleReport">
    <div class="row-fluid" id="wapListSaleReport">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>Reports
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove" id="lnkRemoveListSaleReport"></a>
                </div>
            </div>
            <div class="portlet-body forget-form" id="listSaleReport">
                <div class="clearfix">
                    <div class="btn-group pull-right">

                    </div>
                </div>
                <div class="row-fluid" id="divListSaleReport"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" lang="ja">
    sysfile.load('/content/assets/scripts/views/salereport.js', function () {
        sale_report_index.init();
    });
</script>
