﻿@using BCRM.BXH.Indo.Models
@model List<SaleReportViewModel>
@{
    Layout = null;
    var count = 0;
}
<table class="table table-hover table-striped" width="100%">
    <thead>
        <tr style ="background-color: #0d638f;color: white;">
            <th colspan=" 2" style="text-align:right;"><h3>Total :</h3></th>
            <th style="text-align:center;width:125px;padding:0px;"><h3>@ViewBag.TotalLead</h3></th>
            <th style="text-align:center;width:125px;padding:0px;"><h3>@ViewBag.TotalConvertedAccount</h3></th>
            <th style="text-align:center;width:125px;padding:0px;"><h3>@ViewBag.TotalAddedAccount</h3></th>
            <th style="text-align:center;width:125px;padding:0px;"><h3>@ViewBag.TotalAccounts</h3></th>
            <th style="text-align:center;width:125px;padding:0px;"><h3>@ViewBag.TotalActivedAccount</h3></th>
            <th style="text-align:center;width:125px;padding:0px;"><h3>@ViewBag.TotalListing</h3></th>
        </tr>
        <tr>
            <th class="w20">#</th>
            <th>Username</th>
            <th>Leads</th>
            <th>Converted accounts</th>
            <th>Added accounts</th>
            <th>Total accounts</th>
            <th>Active accounts</th>
            <th>Listings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Username  </td>
                <td style="text-align:center;" >@item.SumLeads </td>
                <td style="text-align:center;">@item.SumConvertedAccount </td>
                <td style="text-align:center;">@item.SumAddedAccount </td>
                <td style="text-align:center;">@item.SumOverAccount </td>
                <td style="text-align:center;">@item.ActiveAccount </td>
                <td style="text-align:center;">@item.SumListings </td>
            </tr>
        }
    </tbody>
</table>
