﻿@using BCRM.BXH.Indo.Entity
@using BCRM.BXH.Indo.Models
@model ShowroomSearchModel 
@{
    Layout = null;
    List<Users> listUser = ViewBag.ListUser;
    List<City> listCity = ViewBag.ListCity;
    var dateNow = DateTime.Now;
    var dateNextMonth = dateNow.AddMonths(1);
    var firstInMonth = new DateTime(dateNow.Year, dateNow.Month, 1);
    var lastInMonth = (new DateTime(dateNextMonth.Year, dateNextMonth.Month, 1)).AddDays(-1); 
}
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            Showrooms Report
            <small>Analynis info of showrooms</small>
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#">Showrooms report</a>
            </li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cogs"></i>
                Search Box
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body forget-form" id="divActionSearchShowroom">
            <div class="row-fluid">
                <div class="span3">
                    @Html.TextAreaFor(m => m.FilterKeyword, new { @class = "span12 m-wrap h110 mgb4", id = "txtFilterKeyword", placeholder = "--Keyword--", tabindex = "1", rows = "1" })
                </div>
                <div class="span9">
                    @*@Html.DropDownListFor(m => m.AssignTo, new SelectList(listUser, "UserName", "UserName", ViewBag.AssignTo), "--Assign To--", new { id = "selAssignTo", @class = "chosen span3", dataplaceholder = "--Assign to--", tabindex = 2 })*@
                    @Html.DropDownListFor(m => m.AssignTo, new SelectList(listUser, "UserName", "UserName", ViewBag.AssignTo), new { id = "selAssignTo", @class = "chosen span3", dataplaceholder = "--Assign to--", tabindex = 2 })
                    <select id="selCity" class="chosen span3" data-placeholder="--City--" cid="@Model.CityId" tabindex="4">
                        <option value="">--City--</option>
                        @foreach (var city in listCity)
                        {
                            <option value="@city.Id">@city.Name</option>
                        }
                    </select>
                    <select id="selDistrict" class="chosen span3" data-placeholder="--District--" did="@Model.DistrictId" tabindex="5">
                        <option value="">--District--</option>
                    </select>
                    <select id="selShowroomType" class="chosen span3" data-placeholder="--Showroom type--">
                        <option value="">--Showroom type--</option>
                        <option value="1">Showroom A</option>
                        <option value="2">Showroom B</option>
                        <option value="3">Showroom C</option>
                    </select>
                    <div id="divStartDate" class="chzn-container chzn-container-single" style="">
                        <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years" style="margin-bottom:0px;" >
                            <input class="m-wrap m-ctrl-medium valign-base" style="width:156px;" size="16" type="text" value="@firstInMonth.ToString("dd/MM/yyyy")" placeholder="--Start Date--" id="txtStartDate" tabindex="8" />
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                    <div id="divEndDate" class="chzn-container chzn-container-single" style="">
                        <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years" style="margin-bottom:0px;">
                            <input class="m-wrap m-ctrl-medium valign-base" style="width:156px;" size="16" type="text" value="@lastInMonth.ToString("dd/MM/yyyy")" placeholder="--End Date--" id="txtEndDate" tabindex="9" />
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                    <div class="chzn-container chzn-container-single">
                        <div class="block overflow-hidden">
                            <button id="btnSearch" type="button" class="btn green valign-base" tabindex="10" title="Search Saler">
                                <i class="m-icon-swapright m-icon-white"></i>
                                Search
                            </button>
                            <button id="btnReset" type="button" class="btn green valign-base" tabindex="11" title="Reset search form">
                                <i class="icon-refresh"></i>
                                Reset
                            </button>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid" id="divSearchShowroom">
    <div class="row-fluid" id="wapListShowroom">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>List of showrooms
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove" id="lnkRemoveListShowroom"></a>
                </div>
            </div>
            <div class="portlet-body forget-form" id="listShowroom">
                <div class="clearfix">
                    <div class="btn-group pull-right">

                    </div>
                </div>
                <div class="row-fluid" id="divListShowroom"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" lang="ja">
    sysfile.load('/content/assets/scripts/views/showroomreport.js', function () {
        showroom_index.init();
    });
</script>
