﻿@using BCRM.BXH.Indo.Models
@model List<ShowroomReportModel>
@{
    Layout = null;
    var count = 0;
}
<table class="table table-hover table-striped" width="100%">
    <thead>
        <tr>
            <th class="w20">#</th>
            <th>Showroom type</th>
            <th>Fullname</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>City</th>
            <th>Number of listing in 1sth month</th>
            <th>Number of listing</th>
            <th>Joining date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var showroom in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>
                    @if(showroom.ShowroomType ==0)
                    {
                        <span>D</span>
                    }
                    else if(showroom.ShowroomType == 1)
                    {
                        <span>A</span>
                    }
                    else if (showroom.ShowroomType == 2)
                    {
                        <span>B</span>
                    }
                    else
                    {
                        <span>C</span>
                    }
                </td>
                <td>
                    @showroom.FullName
                </td>
                <td>
                    @showroom.PhoneNumber
                </td>
                <td>
                    @showroom.Email
                </td>
                <td>
                    @showroom.CityName
                </td>
                <td>
                    @showroom.NumPostingIn1stMonth
                </td>
                <td>
                    @showroom.NumOfPosting
                </td>
                <td>
                    @(showroom.JoinDate == DateTime.MinValue ? "" : showroom.JoinDate.ToString("dd/MM/yyyy"))
                </td>
            </tr>
        }
    </tbody>
</table>



