﻿@using BCRM.BXH.Indo.Models
@model List<AfterSaleAssistantViewModel>
@{
    Layout = null;
    var count = 0;
}
<table class="table table-hover table-striped" width="100%">
    <thead>
        <tr style="background-color: #0d638f;color: white;">
            <th colspan=" 2" style="text-align:right;"><h3>Total :</h3></th>
            <th style="text-align:center;width:125px;"><h3>@ViewBag.TotalReceived</h3></th>
            <th style="text-align:center;width:125px;"><h3>@ViewBag.TotalActive</h3></th>
            <th style="text-align:center;width:125px;"><h3>@ViewBag.TotalListings</h3></th>
            <th style="text-align:center;width:125px;"><h3>@(string.Format("{0:N2}", (decimal)ViewBag.TotalAverageDailyListing))</h3></th>
        </tr>
        <tr>
            <th class="w20">#</th>
            <th>Username</th>
            <th style="text-align:center;">Received accounts</th>
            <th style="text-align:center;">Active accounts</th>
            <th style="text-align:center;">Listings</th>
            <th style="text-align:center;">Average daily listings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Username  </td>
                <td style="text-align:center;">@item.SumAssistanceCustomer </td>
                <td style="text-align:center;">@item.ActiveAccount </td>
                <td style="text-align:center;">@item.SumPosting </td>
                <td style="text-align:center;">@(string.Format("{0:N2}", item.AverageDailyPosting)) </td>
            </tr>
        }
    </tbody>
</table>