﻿@using BCRM.BXH.Indo
@using BCRM.BXH.Indo.Models
@using BCRM.BXH.Indo.Entity
@using BCRM.BXH.Indo.Library
@model NonSaleCustomerIndexModel
@{
    Layout = null;
}
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            Nonsale Customer File
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#">Non-sale Customer File</a>
            </li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cogs"></i>
                Search Box
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body forget-form">
            <form action="#" class="form-horizontal" id="frmSearchNonsaleCustomer">
                <div class="row-fluid">
                    <div class="span3">
                        @Html.TextAreaFor(m => m.FilterKeyword, new { @class = "span12 m-wrap h110 mgb4", id = "txtFilterKeyword", placeholder = "--Keyword--", tabindex = "1", rows = "1" })
                    </div>
                    <div class="span9">
                        @Html.DropDownListFor(m => m.Receiver, new SelectList(Model.LstReceiver, "Key", "Value", ViewBag.AssignTo), new { id = "selAssignTo", @class = "chosen span3", dataplaceholder = "--Giao cho--", tabindex = 2 })
                        <select id="selStatus" name="Status" class="span3 chosen" dataplaceholder="--Trạng thái--" tabindex="3">
                            <option value="-1">--Status--</option>
                            @foreach (var item in Helper.ListContactStatusName())
                            {
                                if (item.Key != ContactStatus.Accepted.GetHashCode())
                                {
                                    <option value="@item.Key">@item.Value </option>
                                }
                            }
                        </select>
                        <div id="divDateOfCreationFrom" class="chzn-container chzn-container-single" style="">
                            <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                                <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="" placeholder="--Start Date--" id="txtDateOfCreationFrom" tabindex="8" />
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div id="divDateOfCreationTo" class="chzn-container chzn-container-single" style="margin-top:5px !important;">
                            <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                                <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="" placeholder="--End Date--" id="txtDateOfCreationTo" tabindex="9" />
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div class="chzn-container chzn-container-single">
                            <div class="block overflow-hidden">
                                <button id="btnSearch" type="button" class="btn green valign-base" tabindex="10" title="Search Customer">
                                    <i class="m-icon-swapright m-icon-white"></i>
                                    Search
                                </button>
                                <button id="btnReset" type="button" class="btn green valign-base" tabindex="11" title="Reset search form">
                                    <i class="icon-refresh"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row-fluid" id="wrapNonsaleCustomer">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>
                List Non-sale Customer
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove" id="lnkRemoveListNonsaleCustomer"></a>
            </div>
        </div>
        <div class="portlet-body forget-form" id="divListNonsaleCustomer">
            <div class="clearfix">
                @*<div class="btn-group pull-right">
                    <button type="button" id="btnAddNew" class="btn blue" title="Add new customer">
                        <i class="icon-plus"></i>
                        Add New
                    </button>
                </div>*@
            </div>
            <div class="form-inline" id="ResultNonsaleCustomer">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    app.initDateTimePickers();
    app.initPortletTools();
    app.initChoosenSelect($('#frmSearchNonsaleCustomer'));
    sysfile.load("/Content/assets/scripts/views/NonSaleCustomer.js", function () {
        non_sale_customer_index.init();
    });
</script>