﻿@using BCRM.BXH.Indo.Library
@using BCRM.BXH.Indo.Models

@model List<NonSaleCustomerSearchModel>
@{
    Layout = null;
    var index = 1;
    var current = (UserAuthenticateModel)ViewBag.CurrentUser;
    var pager = (Pager)ViewBag.Pager;
}

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th class="w20">#</th>
            <th class="w400">Customer Info</th>
            <th class="w70">Status</th>
            <th>Phone Number</th>
            <th class="w70">Receiver</th>
            <th class="w60"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cust in Model)
        {
            <tr>
                <td>
                    @(index++)
                </td>
                <td id="colCustomerInfo">
                    <a href="#">FullName</a>@(": ")
                    <span class="name">
                        @(string.IsNullOrEmpty(cust.FullName) ? "" : cust.FullName)
                    </span>
                    @if (cust.IsDeleted)
                    {
                        <i class="icon-lock" title="This customer is blocked"></i>
                    }
                    <br />
                    <a href="#">Email</a> @(": ") <span class="modify"> @cust.Email </span>
                    <br />
                    <a href="#">Address</a> @(": ") <span class="modify"> @cust.Address </span>
                    <br />
                    <a href="#">Posting News</a> @(": ") <span class="modify"> @cust.PostingNews </span>
                    <br />
                    <a href="#">Date of creation</a>@(": ")<span class="modify">@string.Format("{0:dd/MM/yyyy}", cust.CreatedDate)</span>
                    @(",")
                    @*<br />
                    <a href="#">Type Of Customer</a>@(": ")<span class="label type">@(((TypeOfCustomer)cust.Type).ToTypeOfCustomerName())</span>*@
                </td>
                <td id="colStatus">
                    @Html.Raw(cust.StatusName)
                </td>
                <td id="colPhoneNumber">
                    @cust.PhoneNumber.WrapPhoneNumber()
                </td>
                <td id="colAssignTo">
                    <a name="lnkUserInfo" href="#divSaleInfo" data-toggle="modal">@cust.ReceivedBy</a>
                </td>
                <td class="action">
                    <div class="btn-group none-bottom">
                        <button class="btn w80 blue mini dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cog"></i>
                            Manager
                            <i class="icon-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" extfor="@cust.ReceivedBy">
                            @if (cust.IsReceived)
                            {
                                <li>
                                    <a name="receive" data-customerid="@cust.Id" data-carehistoryid="@cust.CustomerCareId" title="Receive Crawler Customer">
                                        <i class="icon-hand-right"></i>
                                        Receive
                                    </a>
                                </li>
                            }
                            
                            @if (cust.IsChangeContactStatus(current.UserName))
                            {
                                <li>
                                    <a name="contactsuccess" data-customerid="@cust.Id" data-carehistoryid="@cust.CustomerCareId" title="Receive Crawler Customer">
                                        <i class="icon-ok"></i>
                                        Contact successfully
                                    </a>
                                </li>
                                <li>
                                    <a name="contactfailure" data-customerid="@cust.Id" data-carehistoryid="@cust.CustomerCareId" title="Receive Crawler Customer">
                                        <i class="icon-remove"></i>
                                        Contact failure
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Action("Paging", "Common", new { pager = pager })