﻿@using BCRM.BXH.Indo.Models
@model OTPManagerModel
@{
    Layout = null;
}
@if (Model.Status == 1)
{
    <div class="row-fluid" style="text-align:center;">
        @Html.Raw(Model.Image)
    </div>
}
else
{
    <h2>@Model.Image</h2>
}
