﻿@{
    Layout = null;
}

<form action="#" id="frmCreateProfile" class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="myModalLabel2">Add Phone Number</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <table class="table table-bordered table-advance table-hover" id="tblProfile">
                <thead>
                    <tr>
                        <th class="span3">
                            Name
                        </th>
                        <th class="span3">
                            PhoneNumber
                        </th>
                        <th class="span3">
                            PhoneAlias
                        </th>
                        <th class="span3">
                            Email
                        </th>                        
                        <th class="span1 align_right"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input name="Name" type="text" maxlength="250" class="m-wrap span12" value="" placeholder="--Name--" />
                        </td>
                        <td>
                            <input name="PhoneNumber" type="number" class="m-wrap span12 phone-number" value="" placeholder="--PhoneNumber-" />
                        </td>
                        <td>
                            <input name="PhoneAlias" type="text" maxlength="50" class="m-wrap span12" value="" placeholder="--PhoneAlias--" />
                        </td>
                        <td>
                            <input name="Email" type="text" maxlength="100" class="m-wrap span12" value="" placeholder="--Email--" />
                        </td>
                        <td>

                        </td>
                    </tr>
                </tbody>
                @*<tfoot>
                    <tr>
                        <td colspan="4"></td>
                        <td class="align_right">
                            <a href="javascript:;" id="lnkAddProfile" class="btn blue icn-only" title="Add PhoneNumber">
                                <i class="icon-plus icon-white"></i>
                            </a>
                        </td>
                    </tr>
                </tfoot>*@
            </table>
        </div>        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn blue" id="btnSaveProfile">
            <i class="icon-save" />
            Save
        </button>
        <button type="button" data-dismiss="modal" aria-hidden="true" class="btn blue">
            <i class="icon-remove"></i>
            Close
        </button>
    </div>
</form>
