﻿@{
    Layout = null;
}
<form action="#" id="frmEditProfile" class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="myModalLabel2">Add Phone Number</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <table class="table table-bordered table-advance table-hover" id="tblEditProfile">
                <thead>
                    <tr>
                        <th class="span3">
                            Name
                        </th>
                        <th class="span3">
                            PhoneNumber
                        </th>
                        <th class="span3">
                            PhoneAlias
                        </th>
                        <th class="span3">
                            Email
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input name="Name" type="text" maxlength="250" class="m-wrap span12" value="" placeholder="--Name--" />
                        </td>
                        <td>
                            <input name="PhoneNumber" type="number" maxlength="20" class="m-wrap span12 phone-number" value="" placeholder="--PhoneNumber-" />
                        </td>
                        <td>
                            <input name="PhoneAlias" type="text" maxlength="50" class="m-wrap span12" value="" placeholder="--PhoneAlias--" />
                        </td>
                        <td>
                            <input name="Email" type="text" maxlength="100" class="m-wrap span12" value="" placeholder="--Email--" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn blue" id="btnSaveEditProfile">
            <i class="icon-save" />
            Save
        </button>
        <button type="button" data-dismiss="modal" aria-hidden="true" class="btn blue">
            <i class="icon-remove"></i>
            Close
        </button>
    </div>
</form>
