﻿@using BCRM.BXH.Indo.Entity
@model List<Profile>
@{
    Layout = null;
    var count = 0;
}

<form action="#" id="frmManageProfile" class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="myModalLabel2">Manage Phone Number</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <table class="table table-bordered table-advance table-hover" id="tblManageProfile">
                <thead>
                    <tr>
                        <th class="span3">Name</th>
                        <th class="span3">PhoneNumber</th>
                        <th class="span3">PhoneAlias</th>
                        <th class="span3">Email</th>
                        <th class="span1 align_right"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var profile in Model)
                    {
                        count ++;
                        <tr>
                            <td>
                                <input type="text" maxlength="250" class="m-wrap span12" value="@profile.Name" placeholder="--Name--" />
                            </td>
                            <td>
                                <input type="number" maxlength="20" class="m-wrap span12 phone-number" value="@profile.PhoneNumber" placeholder="--Phone Number--" />
                            </td>
                            <td>
                                <input type="text" maxlength="50" class="m-wrap span12" value="@profile.PhoneAlias" placeholder="--Phone Alias--" />
                            </td>
                            <td>
                                <input type="text" maxlength="100" class="m-wrap span12" value="@profile.Email" placeholder="--Email--" />
                            </td>
                            <td>
                                <input type="hidden" value="@profile.Id" />
                                @if(count != 1)
                                {
                                    <a href="javascript:;" class="btn red icn-only" title="Cancel">
                                        <i class="icon-remove icon-white"></i>
                                    </a>
                                }
                                
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn blue" id="btnSaveManageProfile">
            <i class="icon-save" />
            Save
        </button>
        <button type="button" data-dismiss="modal" aria-hidden="true" class="btn blue">
            <i class="icon-remove"></i>
            Close
        </button>
        <input type="hidden" id="hiddCustomerId" value="@ViewBag.CustomerId" />
        <input type="hidden" name="ProfileTokenChecksum" value="@ViewBag.TokenCheckSum" />
    </div>
</form>
